node-red/node-red-flow.json
[
    {
        "id": "260b9869.193598",
        "type": "subflow",
        "name": "SampleTilt_Dash",
        "info": "Vertical axis:\nEncoder value 40°: --> 117901\nRange +/- 20°:      --> 58950.5\n",
        "in": [
            {
                "x": 87.0000057220459,
                "y": 217.0000286102295,
                "wires": [
                    {
                        "id": "30873718.ff5b28"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1260,
                "y": 60,
                "wires": [
                    {
                        "id": "ff2a036e.c364d",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1260,
                "y": 120,
                "wires": [
                    {
                        "id": "ff2a036e.c364d",
                        "port": 1
                    }
                ]
            },
            {
                "x": 1260,
                "y": 600,
                "wires": [
                    {
                        "id": "ff2a036e.c364d",
                        "port": 11
                    }
                ]
            },
            {
                "x": 1260,
                "y": 480,
                "wires": [
                    {
                        "id": "ff2a036e.c364d",
                        "port": 7
                    }
                ]
            },
            {
                "x": 1260,
                "y": 280,
                "wires": [
                    {
                        "id": "ff2a036e.c364d",
                        "port": 4
                    }
                ]
            }
        ],
        "inputLabels": [
            "Serial_In"
        ],
        "outputLabels": [
            "CMDs (to Serial Out)",
            "Command_Msg",
            "Motor_Msg",
            "Big Chart",
            "Sample Tilt Position"
        ]
    },
    {
        "id": "f2c574d8.db0658",
        "type": "ui_text_input",
        "z": "260b9869.193598",
        "name": "Target Position TXT",
        "label": "Target-Position",
        "group": "9f5fb49c.aa9328",
        "order": 1,
        "width": "4",
        "height": "2",
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "TargetPosition_tbx",
        "x": 390,
        "y": 440,
        "wires": [
            [
                "c9d7d122.2e1ae"
            ]
        ]
    },
    {
        "id": "a9cb0d0e.ea0ac",
        "type": "ui_button",
        "z": "260b9869.193598",
        "name": "GOTO Zero",
        "group": "9f5fb49c.aa9328",
        "order": 2,
        "width": "4",
        "height": "2",
        "passthru": false,
        "label": "GOTO Zero",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "GotoZero",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "c9d7d122.2e1ae"
            ]
        ]
    },
    {
        "id": "57996419.d6c75c",
        "type": "ui_button",
        "z": "260b9869.193598",
        "name": "Button0",
        "group": "9f5fb49c.aa9328",
        "order": 15,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "0",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 80,
        "y": 760,
        "wires": [
            [
                "c9d7d122.2e1ae"
            ]
        ]
    },
    {
        "id": "85f5eaf7.ca03c8",
        "type": "ui_button",
        "z": "260b9869.193598",
        "name": "Button1",
        "group": "9f5fb49c.aa9328",
        "order": 11,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "1",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "",
        "x": 80,
        "y": 800,
        "wires": [
            [
                "c9d7d122.2e1ae"
            ]
        ]
    },
    {
        "id": "f357a842.8347c8",
        "type": "ui_button",
        "z": "260b9869.193598",
        "name": "Button2",
        "group": "9f5fb49c.aa9328",
        "order": 12,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "2",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "",
        "x": 80,
        "y": 560,
        "wires": [
            [
                "c9d7d122.2e1ae"
            ]
        ]
    },
    {
        "id": "b7624983.c8fe68",
        "type": "ui_button",
        "z": "260b9869.193598",
        "name": "Button3",
        "group": "9f5fb49c.aa9328",
        "order": 13,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "3",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "3",
        "payloadType": "str",
        "topic": "",
        "x": 80,
        "y": 600,
        "wires": [
            [
                "c9d7d122.2e1ae"
            ]
        ]
    },
    {
        "id": "ebc0896.04dab78",
        "type": "ui_button",
        "z": "260b9869.193598",
        "name": "Button4",
        "group": "9f5fb49c.aa9328",
        "order": 7,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "4",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "4",
        "payloadType": "str",
        "topic": "",
        "x": 80,
        "y": 640,
        "wires": [
            [
                "c9d7d122.2e1ae"
            ]
        ]
    },
    {
        "id": "1791195d.867827",
        "type": "ui_button",
        "z": "260b9869.193598",
        "name": "Button5",
        "group": "9f5fb49c.aa9328",
        "order": 8,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "5",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "5",
        "payloadType": "str",
        "topic": "",
        "x": 80,
        "y": 680,
        "wires": [
            [
                "c9d7d122.2e1ae"
            ]
        ]
    },
    {
        "id": "9fc1e70e.3a32b8",
        "type": "ui_button",
        "z": "260b9869.193598",
        "name": "Button6",
        "group": "9f5fb49c.aa9328",
        "order": 9,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "6",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "6",
        "payloadType": "str",
        "topic": "",
        "x": 80,
        "y": 400,
        "wires": [
            [
                "c9d7d122.2e1ae"
            ]
        ]
    },
    {
        "id": "72646ff4.f746e",
        "type": "ui_button",
        "z": "260b9869.193598",
        "name": "Button7",
        "group": "9f5fb49c.aa9328",
        "order": 3,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "7",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "7",
        "payloadType": "str",
        "topic": "",
        "x": 80,
        "y": 440,
        "wires": [
            [
                "c9d7d122.2e1ae"
            ]
        ]
    },
    {
        "id": "d1d51c2.64428e",
        "type": "ui_button",
        "z": "260b9869.193598",
        "name": "Button8",
        "group": "9f5fb49c.aa9328",
        "order": 4,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "8",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "8",
        "payloadType": "str",
        "topic": "",
        "x": 80,
        "y": 480,
        "wires": [
            [
                "c9d7d122.2e1ae"
            ]
        ]
    },
    {
        "id": "d3ff3359.38667",
        "type": "ui_button",
        "z": "260b9869.193598",
        "name": "Button9",
        "group": "9f5fb49c.aa9328",
        "order": 5,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "9",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "9",
        "payloadType": "str",
        "topic": "",
        "x": 80,
        "y": 520,
        "wires": [
            [
                "c9d7d122.2e1ae"
            ]
        ]
    },
    {
        "id": "2789c1f3.b00e8e",
        "type": "ui_button",
        "z": "260b9869.193598",
        "name": "Punkt",
        "group": "9f5fb49c.aa9328",
        "order": 10,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": ".",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": ".",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 840,
        "wires": [
            [
                "c9d7d122.2e1ae"
            ]
        ]
    },
    {
        "id": "f61d6804.e1a3c8",
        "type": "ui_button",
        "z": "260b9869.193598",
        "name": "Enter",
        "group": "9f5fb49c.aa9328",
        "order": 16,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "Enter",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "ENTER",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 880,
        "wires": [
            [
                "c9d7d122.2e1ae"
            ]
        ]
    },
    {
        "id": "b4a6c0ca.af5cd",
        "type": "ui_button",
        "z": "260b9869.193598",
        "name": "Clear",
        "group": "9f5fb49c.aa9328",
        "order": 14,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "C",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "CLEAR",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 920,
        "wires": [
            [
                "c9d7d122.2e1ae"
            ]
        ]
    },
    {
        "id": "f1f3df66.9eb9d",
        "type": "ui_button",
        "z": "260b9869.193598",
        "name": "Minus",
        "group": "9f5fb49c.aa9328",
        "order": 6,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "-",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "-",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 720,
        "wires": [
            [
                "c9d7d122.2e1ae"
            ]
        ]
    },
    {
        "id": "e5491f40.52fbd",
        "type": "comment",
        "z": "260b9869.193598",
        "name": "CMDs (to Serial Out)",
        "info": "Serial Out",
        "x": 1390,
        "y": 60,
        "wires": []
    },
    {
        "id": "c3770daf.d818c",
        "type": "comment",
        "z": "260b9869.193598",
        "name": "Command Msg",
        "info": "",
        "x": 1380,
        "y": 120,
        "wires": []
    },
    {
        "id": "d8b0b5fd.44b7b8",
        "type": "comment",
        "z": "260b9869.193598",
        "name": "Motor Msg",
        "info": "",
        "x": 1360,
        "y": 600,
        "wires": []
    },
    {
        "id": "819cb135.346cb",
        "type": "ui_dropdown",
        "z": "260b9869.193598",
        "name": "CMDDropBox",
        "label": "CMDs",
        "place": "",
        "group": "d4eb7110.9e77a",
        "order": 6,
        "width": "4",
        "height": "2",
        "passthru": false,
        "options": [
            {
                "label": "Get Serial Number",
                "value": "GSER",
                "type": "str"
            },
            {
                "label": "Get Current Limit",
                "value": "GCL",
                "type": "str"
            },
            {
                "label": "Get Status",
                "value": "OST",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "CMDDropBox",
        "x": 220,
        "y": 180,
        "wires": [
            [
                "30873718.ff5b28"
            ]
        ]
    },
    {
        "id": "c9d7d122.2e1ae",
        "type": "function",
        "z": "260b9869.193598",
        "name": "DispatchKeys",
        "func": "var T_POS = context.get(\"TargetPosition\") || \"\"; //initialize\nif((msg.topic == \"GotoZero\") || (msg.topic == \"TargetPosition_tbx\"))\n{\n    msg.topic=\"KeyPad\";\n    return [msg, msg];\n}\nswitch(msg.payload)\n{\n    case \"ENTER\":\n        msg.payload = T_POS;\n        T_POS = \"\";\n        context.set(\"TargetPosition\",T_POS);\n        msg.topic=\"KeyPad\";\n        return [msg, null];\n    case \"CLEAR\":\n        T_POS = \"\";\n        context.set(\"TargetPosition\",T_POS);\n        msg.payload = T_POS;\n        return [null, msg];\n    default:\n        T_POS += msg.payload;\n        context.set(\"TargetPosition\",T_POS);\n        msg.payload = T_POS;\n        return [null, msg];\n}\n",
        "outputs": "2",
        "noerr": 0,
        "x": 400,
        "y": 560,
        "wires": [
            [
                "9e1e0cf3.20dcf"
            ],
            [
                "f2c574d8.db0658"
            ]
        ],
        "outputLabels": [
            "ENTER",
            "Text"
        ]
    },
    {
        "id": "ff2a036e.c364d",
        "type": "subflow:76caf18d.599fb",
        "z": "260b9869.193598",
        "name": "",
        "x": 1010,
        "y": 300,
        "wires": [
            [],
            [],
            [
                "5d4eb4d8.09acfc"
            ],
            [
                "6b56ad92.f93f64"
            ],
            [
                "d7c635c3.e4a8e8",
                "3b84b578.c4b97a"
            ],
            [
                "8cd5dea5.1c6fb"
            ],
            [
                "f6303143.bfa49"
            ],
            [
                "b513727.14ecb9"
            ],
            [
                "6c6e45b7.127d4c"
            ],
            [
                "413959b7.8d8748"
            ],
            [],
            []
        ]
    },
    {
        "id": "5d4eb4d8.09acfc",
        "type": "ui_text",
        "z": "260b9869.193598",
        "group": "d4eb7110.9e77a",
        "order": 1,
        "width": "4",
        "height": "1",
        "name": "Target Encoder Value",
        "label": "Target-Encoder",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1340,
        "y": 160,
        "wires": []
    },
    {
        "id": "6b56ad92.f93f64",
        "type": "ui_text",
        "z": "260b9869.193598",
        "group": "d4eb7110.9e77a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Encoder Value",
        "label": "Encoder",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1320,
        "y": 200,
        "wires": []
    },
    {
        "id": "d7c635c3.e4a8e8",
        "type": "ui_gauge",
        "z": "260b9869.193598",
        "name": "GaugePosition",
        "group": "2f84a4e.aef645c",
        "order": 1,
        "width": "4",
        "height": "6",
        "gtype": "gage",
        "title": "Tilt",
        "label": "angle [°]",
        "format": "{{value | number:4}}°",
        "min": "-20",
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1320,
        "y": 240,
        "wires": []
    },
    {
        "id": "30873718.ff5b28",
        "type": "function",
        "z": "260b9869.193598",
        "name": "Split CLK / Enable / RS232 Response",
        "func": "var L_Cmd = context.get(\"LastCmd\") || \"\"; //initialize\nvar newMsg = { payload: msg.payload.length };\nvar length = 0;\nvar Values = 0;\n\nif(msg.topic == \"CMDDropBox\")\n{\n    newMsg.topic = \"Clk-Trigger\"\n    L_Cmd = \"CMDDropBox\";\n    context.set(\"LastCmd\",L_Cmd);\n    newMsg.payload = msg.payload;\n    return [newMsg, null, null];\n}\n\nelse if(msg.topic == \"Clk-Trigger\")\n{\n    switch(msg.payload)\n    {\n        case \"POS\":\n            L_Cmd=\"POS\";\n            context.set(\"LastCmd\",L_Cmd);\n            return [msg, null, null];\n        case \"TEM\":\n            L_Cmd=\"TEM\";\n            context.set(\"LastCmd\",L_Cmd);\n            return [msg, null, null];\n        case \"GRC\":\n            L_Cmd=\"GRC\";\n            context.set(\"LastCmd\",L_Cmd);\n            return [msg, null, null];\n            \n        //SET Zero button input\n        case \"HO\":\n            return[msg, null, null];\n            \n        default:\n            return [null, null, null];\n    }\n       \n}\nelse // must be rs232 response!\n{\n    length = msg.payload.length - 1;\n    Values = msg.payload.substring(1,length);\n    if(Values == \"OK\")\n    {\n        msg.topic=\"Serial-Response(OK)\";\n        msg.payload = Values;\n        return [msg, null, null];\n    }\n    else if(Values == \"p\")\n    {\n        msg.topic=\"Serial-Response(p)\";\n        msg.payload = Values;\n        return [msg, null, null];\n    }\n    else    //Serial-Response(DATA)\n    {\n        switch(L_Cmd)\n        {\n            case \"POS\":\n                L_Cmd=\"\";\n                context.set(\"LastCmd\",L_Cmd);\n                msg.topic = \"Serial-Response(EncoderValue)\";\n                msg.payload = parseInt(msg.payload);\n                newMsg.payload = parseFloat(msg.payload);\n                newMsg.topic = \"Position\";\n                return [msg, newMsg, null]; \n            case \"TEM\":\n                L_Cmd=\"\";\n                context.set(\"LastCmd\",L_Cmd);\n                msg.topic = \"Serial-Response(TEM)\";\n                return [msg, null, null]; \n            case \"GRC\":\n                L_Cmd=\"\";\n                context.set(\"LastCmd\",L_Cmd);\n                msg.topic = \"Serial-Response(GRC)\";\n                msg.payload = parseInt(msg.payload);\n                newMsg.topic = \"CurrentForChart\";\n                newMsg.payload = parseFloat(msg.payload);\n                return [msg, null, newMsg]; \n            case \"CMDDropBox\":\n                msg.topic = \"CMDDropBox\";\n                return [msg, null, null]; \n            default:\n                return [null, null, null];\n        }\n    }\n       \n}\n\n\n\n\n\n\n\n\n\n",
        "outputs": 3,
        "noerr": 0,
        "x": 416.00000762939453,
        "y": 258.00001335144043,
        "wires": [
            [
                "ff2a036e.c364d"
            ],
            [
                "4d9141c6.c2c94"
            ],
            [
                "d5d0240c.e831a8"
            ]
        ],
        "inputLabels": [
            "Serial_In"
        ],
        "outputLabels": [
            "Enable_btn",
            "Clk-Trigger / RS232-Response",
            "Position"
        ]
    },
    {
        "id": "9e1e0cf3.20dcf",
        "type": "range",
        "z": "260b9869.193598",
        "minin": "-20",
        "maxin": "20",
        "minout": "59143.8824",
        "maxout": "-59143.8824",
        "action": "clamp",
        "round": true,
        "name": "Map Position to Encoder Value",
        "x": 730,
        "y": 420,
        "wires": [
            [
                "ff2a036e.c364d"
            ]
        ]
    },
    {
        "id": "4d9141c6.c2c94",
        "type": "range",
        "z": "260b9869.193598",
        "minin": "-59143.8824",
        "maxin": "59143.8824",
        "minout": "20",
        "maxout": "-20",
        "action": "scale",
        "round": false,
        "name": "MAP Encoder Value to Position",
        "x": 720,
        "y": 340,
        "wires": [
            [
                "ff2a036e.c364d"
            ]
        ]
    },
    {
        "id": "d5d0240c.e831a8",
        "type": "range",
        "z": "260b9869.193598",
        "minin": "-500",
        "maxin": "500",
        "minout": "-20",
        "maxout": "20",
        "action": "scale",
        "round": true,
        "name": "MAP Current to Chart Scale",
        "x": 720,
        "y": 380,
        "wires": [
            [
                "ff2a036e.c364d"
            ]
        ]
    },
    {
        "id": "b513727.14ecb9",
        "type": "ui_chart",
        "z": "260b9869.193598",
        "name": "PosChart",
        "group": "d4eb7110.9e77a",
        "order": 8,
        "width": "4",
        "height": "6",
        "label": "Position",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "20",
        "removeOlder": "60",
        "removeOlderPoints": "2000",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1300,
        "y": 440,
        "wires": [
            [],
            []
        ],
        "inputLabels": [
            "Position"
        ]
    },
    {
        "id": "8cd5dea5.1c6fb",
        "type": "ui_text",
        "z": "260b9869.193598",
        "group": "d4eb7110.9e77a",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Current_tbx",
        "label": "Current",
        "format": "{{msg.payload}} mA",
        "layout": "row-spread",
        "x": 1310,
        "y": 360,
        "wires": []
    },
    {
        "id": "3b84b578.c4b97a",
        "type": "ui_text",
        "z": "260b9869.193598",
        "group": "2f84a4e.aef645c",
        "order": 4,
        "width": "4",
        "height": "2",
        "name": "SampleTiltPosition_tbx",
        "label": "Tilt:",
        "format": "{{msg.payload | number:5}}°",
        "layout": "row-spread",
        "x": 1340,
        "y": 320,
        "wires": []
    },
    {
        "id": "6c6e45b7.127d4c",
        "type": "ui_text",
        "z": "260b9869.193598",
        "group": "d4eb7110.9e77a",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max Current",
        "format": "{{msg.payload}} mA",
        "layout": "row-spread",
        "x": 1310,
        "y": 520,
        "wires": []
    },
    {
        "id": "f6303143.bfa49",
        "type": "ui_text",
        "z": "260b9869.193598",
        "group": "d4eb7110.9e77a",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatur",
        "format": "{{msg.payload}}°C",
        "layout": "row-spread",
        "x": 1310,
        "y": 400,
        "wires": []
    },
    {
        "id": "413959b7.8d8748",
        "type": "ui_text",
        "z": "260b9869.193598",
        "group": "d4eb7110.9e77a",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "CMD Response",
        "label": "------CMD Response------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1320,
        "y": 560,
        "wires": []
    },
    {
        "id": "b039ca0e.b1b908",
        "type": "comment",
        "z": "260b9869.193598",
        "name": "Range Setting",
        "info": "Vertical axis:\nEncoder value 1°: --> 2957.19412  \nRange 20°:      --> 59143.8824\n",
        "x": 720,
        "y": 480,
        "wires": []
    },
    {
        "id": "de39ce5e.9410c",
        "type": "comment",
        "z": "260b9869.193598",
        "name": "Big Chart on separat Tab",
        "info": "",
        "x": 1410,
        "y": 480,
        "wires": []
    },
    {
        "id": "da1fcf68.65d84",
        "type": "ui_button",
        "z": "260b9869.193598",
        "name": "",
        "group": "3c59575.816b1a8",
        "order": 4,
        "width": "4",
        "height": "2",
        "passthru": false,
        "label": "SET Zero",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "HO",
        "payloadType": "str",
        "topic": "Clk-Trigger",
        "x": 135,
        "y": 284.00001525878906,
        "wires": [
            [
                "30873718.ff5b28"
            ]
        ]
    },
    {
        "id": "9f5fb49c.aa9328",
        "type": "ui_group",
        "z": "",
        "name": "Keyboard",
        "tab": "ea172bd6.6bd1b8",
        "order": 2,
        "disp": true,
        "width": "4"
    },
    {
        "id": "d4eb7110.9e77a",
        "type": "ui_group",
        "z": "",
        "name": "Axis Details",
        "tab": "ea172bd6.6bd1b8",
        "order": 4,
        "disp": true,
        "width": "4"
    },
    {
        "id": "2f84a4e.aef645c",
        "type": "ui_group",
        "z": "",
        "name": "Position",
        "tab": "ea172bd6.6bd1b8",
        "order": 3,
        "disp": true,
        "width": "4"
    },
    {
        "id": "3c59575.816b1a8",
        "type": "ui_group",
        "z": "",
        "name": "Options",
        "tab": "ea172bd6.6bd1b8",
        "order": 1,
        "disp": true,
        "width": "4"
    },
    {
        "id": "ea172bd6.6bd1b8",
        "type": "ui_tab",
        "z": "",
        "name": "Sample Tilt",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "e48ed529.490938",
        "type": "subflow",
        "name": "Shut Down Dash",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "a0b7a749.829108",
        "type": "ui_button",
        "z": "e48ed529.490938",
        "name": "shutdown",
        "group": "5fe59f6d.0ec49",
        "order": 1,
        "width": "4",
        "height": "2",
        "passthru": false,
        "label": "Off",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "2960eea8.681702"
            ]
        ]
    },
    {
        "id": "2960eea8.681702",
        "type": "exec",
        "z": "e48ed529.490938",
        "command": "sudo shutdown -h now",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "shutdown the Raspi",
        "x": 450,
        "y": 260,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "d9b90ca1.024a4",
        "type": "ui_button",
        "z": "e48ed529.490938",
        "name": "Reboot",
        "group": "5fe59f6d.0ec49",
        "order": 2,
        "width": "4",
        "height": "2",
        "passthru": false,
        "label": "Reboot",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 220,
        "y": 200,
        "wires": [
            [
                "837d56e7.c61c18"
            ]
        ]
    },
    {
        "id": "837d56e7.c61c18",
        "type": "exec",
        "z": "e48ed529.490938",
        "command": "sudo reboot",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Reboot the Raspi",
        "x": 450,
        "y": 200,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "92aa5191.49a2d",
        "type": "comment",
        "z": "e48ed529.490938",
        "name": "UI tab to reboot / shutdown raspberry pi",
        "info": "",
        "x": 309,
        "y": 133,
        "wires": []
    },
    {
        "id": "5fe59f6d.0ec49",
        "type": "ui_group",
        "z": "e48ed529.490938",
        "name": "Power",
        "tab": "49dfe9f9.102f68",
        "order": 4,
        "disp": true,
        "width": "4"
    },
    {
        "id": "49dfe9f9.102f68",
        "type": "ui_tab",
        "z": "",
        "name": "System",
        "icon": "dashboard",
        "order": 7
    },
    {
        "id": "84b4d8e0.b6fd98",
        "type": "subflow",
        "name": "SampleRotation_Dash",
        "info": "Rotation axis:\nEncoder value 180°: --> 232691\nRange +/- 90°:      --> 116345.5\n",
        "in": [
            {
                "x": 73.00000190734863,
                "y": 216.00000762939453,
                "wires": [
                    {
                        "id": "70e2eada.986c04"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1260,
                "y": 60,
                "wires": [
                    {
                        "id": "6e151578.ca59dc",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1260,
                "y": 120,
                "wires": [
                    {
                        "id": "6e151578.ca59dc",
                        "port": 1
                    }
                ]
            },
            {
                "x": 1260,
                "y": 600,
                "wires": [
                    {
                        "id": "6e151578.ca59dc",
                        "port": 11
                    }
                ]
            },
            {
                "x": 1260,
                "y": 480,
                "wires": [
                    {
                        "id": "6e151578.ca59dc",
                        "port": 7
                    }
                ]
            },
            {
                "x": 1260,
                "y": 280,
                "wires": [
                    {
                        "id": "6e151578.ca59dc",
                        "port": 4
                    }
                ]
            }
        ],
        "inputLabels": [
            "Serial_In"
        ],
        "outputLabels": [
            "CMDs (to Serial Out)",
            "Command_Msg",
            "Motor_Msg",
            "Big Chart",
            "Sample Rotation Position"
        ]
    },
    {
        "id": "d410418b.ba8c2",
        "type": "ui_text_input",
        "z": "84b4d8e0.b6fd98",
        "name": "Target Position TXT",
        "label": "Target-Position",
        "group": "736bb4cb.3026ec",
        "order": 1,
        "width": "4",
        "height": "2",
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "TargetPosition_tbx",
        "x": 390,
        "y": 440,
        "wires": [
            [
                "3044d3ec.5d448c"
            ]
        ]
    },
    {
        "id": "dd07cf37.9ef0b",
        "type": "ui_button",
        "z": "84b4d8e0.b6fd98",
        "name": "GOTO Zero",
        "group": "736bb4cb.3026ec",
        "order": 2,
        "width": "4",
        "height": "2",
        "passthru": false,
        "label": "GOTO Zero",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "GotoZero",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "3044d3ec.5d448c"
            ]
        ]
    },
    {
        "id": "cfeb418e.29abd",
        "type": "ui_button",
        "z": "84b4d8e0.b6fd98",
        "name": "Button0",
        "group": "736bb4cb.3026ec",
        "order": 15,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "0",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 80,
        "y": 760,
        "wires": [
            [
                "3044d3ec.5d448c"
            ]
        ]
    },
    {
        "id": "f618e7c9.f2a778",
        "type": "ui_button",
        "z": "84b4d8e0.b6fd98",
        "name": "Button1",
        "group": "736bb4cb.3026ec",
        "order": 11,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "1",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "",
        "x": 80,
        "y": 800,
        "wires": [
            [
                "3044d3ec.5d448c"
            ]
        ]
    },
    {
        "id": "d1a02dd0.d58e7",
        "type": "ui_button",
        "z": "84b4d8e0.b6fd98",
        "name": "Button2",
        "group": "736bb4cb.3026ec",
        "order": 12,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "2",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "",
        "x": 80,
        "y": 560,
        "wires": [
            [
                "3044d3ec.5d448c"
            ]
        ]
    },
    {
        "id": "986bd780.0db138",
        "type": "ui_button",
        "z": "84b4d8e0.b6fd98",
        "name": "Button3",
        "group": "736bb4cb.3026ec",
        "order": 13,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "3",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "3",
        "payloadType": "str",
        "topic": "",
        "x": 80,
        "y": 600,
        "wires": [
            [
                "3044d3ec.5d448c"
            ]
        ]
    },
    {
        "id": "79d5e660.c29a28",
        "type": "ui_button",
        "z": "84b4d8e0.b6fd98",
        "name": "Button4",
        "group": "736bb4cb.3026ec",
        "order": 7,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "4",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "4",
        "payloadType": "str",
        "topic": "",
        "x": 80,
        "y": 640,
        "wires": [
            [
                "3044d3ec.5d448c"
            ]
        ]
    },
    {
        "id": "f037fc23.2343f",
        "type": "ui_button",
        "z": "84b4d8e0.b6fd98",
        "name": "Button5",
        "group": "736bb4cb.3026ec",
        "order": 8,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "5",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "5",
        "payloadType": "str",
        "topic": "",
        "x": 80,
        "y": 680,
        "wires": [
            [
                "3044d3ec.5d448c"
            ]
        ]
    },
    {
        "id": "35e9c778.e14a18",
        "type": "ui_button",
        "z": "84b4d8e0.b6fd98",
        "name": "Button6",
        "group": "736bb4cb.3026ec",
        "order": 9,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "6",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "6",
        "payloadType": "str",
        "topic": "",
        "x": 80,
        "y": 400,
        "wires": [
            [
                "3044d3ec.5d448c"
            ]
        ]
    },
    {
        "id": "4149eb09.ee1b74",
        "type": "ui_button",
        "z": "84b4d8e0.b6fd98",
        "name": "Button7",
        "group": "736bb4cb.3026ec",
        "order": 3,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "7",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "7",
        "payloadType": "str",
        "topic": "",
        "x": 80,
        "y": 440,
        "wires": [
            [
                "3044d3ec.5d448c"
            ]
        ]
    },
    {
        "id": "53974c4f.1b1da4",
        "type": "ui_button",
        "z": "84b4d8e0.b6fd98",
        "name": "Button8",
        "group": "736bb4cb.3026ec",
        "order": 4,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "8",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "8",
        "payloadType": "str",
        "topic": "",
        "x": 80,
        "y": 480,
        "wires": [
            [
                "3044d3ec.5d448c"
            ]
        ]
    },
    {
        "id": "319b6047.5a019",
        "type": "ui_button",
        "z": "84b4d8e0.b6fd98",
        "name": "Button9",
        "group": "736bb4cb.3026ec",
        "order": 5,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "9",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "9",
        "payloadType": "str",
        "topic": "",
        "x": 80,
        "y": 520,
        "wires": [
            [
                "3044d3ec.5d448c"
            ]
        ]
    },
    {
        "id": "b437a5ac.c339a8",
        "type": "ui_button",
        "z": "84b4d8e0.b6fd98",
        "name": "Punkt",
        "group": "736bb4cb.3026ec",
        "order": 10,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": ".",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": ".",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 840,
        "wires": [
            [
                "3044d3ec.5d448c"
            ]
        ]
    },
    {
        "id": "ba2411d.11e9cf",
        "type": "ui_button",
        "z": "84b4d8e0.b6fd98",
        "name": "Enter",
        "group": "736bb4cb.3026ec",
        "order": 16,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "Enter",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "ENTER",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 880,
        "wires": [
            [
                "3044d3ec.5d448c"
            ]
        ]
    },
    {
        "id": "482b13f0.35260c",
        "type": "ui_button",
        "z": "84b4d8e0.b6fd98",
        "name": "Clear",
        "group": "736bb4cb.3026ec",
        "order": 14,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "C",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "CLEAR",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 920,
        "wires": [
            [
                "3044d3ec.5d448c"
            ]
        ]
    },
    {
        "id": "18a0f6b7.3a6a29",
        "type": "ui_button",
        "z": "84b4d8e0.b6fd98",
        "name": "Minus",
        "group": "736bb4cb.3026ec",
        "order": 6,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "-",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "-",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 720,
        "wires": [
            [
                "3044d3ec.5d448c"
            ]
        ]
    },
    {
        "id": "68d2f871.4997d8",
        "type": "comment",
        "z": "84b4d8e0.b6fd98",
        "name": "CMDs (to Serial Out)",
        "info": "Serial Out",
        "x": 1390,
        "y": 60,
        "wires": []
    },
    {
        "id": "b7de15fd.018638",
        "type": "comment",
        "z": "84b4d8e0.b6fd98",
        "name": "Command Msg",
        "info": "",
        "x": 1380,
        "y": 120,
        "wires": []
    },
    {
        "id": "27cfed48.b042a2",
        "type": "comment",
        "z": "84b4d8e0.b6fd98",
        "name": "Motor Msg",
        "info": "",
        "x": 1360,
        "y": 600,
        "wires": []
    },
    {
        "id": "e24d98e4.d60318",
        "type": "ui_dropdown",
        "z": "84b4d8e0.b6fd98",
        "name": "CMDDropBox",
        "label": "CMDs",
        "place": "",
        "group": "67a14c96.6c55e4",
        "order": 6,
        "width": "4",
        "height": "2",
        "passthru": false,
        "options": [
            {
                "label": "Get Serial Number",
                "value": "GSER",
                "type": "str"
            },
            {
                "label": "Get Current Limit",
                "value": "GCL",
                "type": "str"
            },
            {
                "label": "Get Status",
                "value": "OST",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "CMDDropBox",
        "x": 238.00000762939453,
        "y": 179.00000381469727,
        "wires": [
            [
                "70e2eada.986c04"
            ]
        ]
    },
    {
        "id": "3044d3ec.5d448c",
        "type": "function",
        "z": "84b4d8e0.b6fd98",
        "name": "DispatchKeys",
        "func": "var T_POS = context.get(\"TargetPosition\") || \"\"; //initialize\nif((msg.topic == \"GotoZero\") || (msg.topic == \"TargetPosition_tbx\"))\n{\n    msg.topic=\"KeyPad\";\n    return [msg, msg];\n}\nswitch(msg.payload)\n{\n    case \"ENTER\":\n        msg.payload = T_POS;\n        T_POS = \"\";\n        context.set(\"TargetPosition\",T_POS);\n        msg.topic=\"KeyPad\";\n        return [msg, null];\n    case \"CLEAR\":\n        T_POS = \"\";\n        context.set(\"TargetPosition\",T_POS);\n        msg.payload = T_POS;\n        return [null, msg];\n    default:\n        T_POS += msg.payload;\n        context.set(\"TargetPosition\",T_POS);\n        msg.payload = T_POS;\n        return [null, msg];\n}\n",
        "outputs": "2",
        "noerr": 0,
        "x": 400,
        "y": 560,
        "wires": [
            [
                "e0b4649f.6cf6d8"
            ],
            [
                "d410418b.ba8c2"
            ]
        ],
        "outputLabels": [
            "ENTER",
            "Text"
        ]
    },
    {
        "id": "6e151578.ca59dc",
        "type": "subflow:76caf18d.599fb",
        "z": "84b4d8e0.b6fd98",
        "x": 1010,
        "y": 300,
        "wires": [
            [],
            [],
            [
                "264250f1.01305"
            ],
            [
                "c2164f14.c0472"
            ],
            [
                "dff00c77.68d3",
                "7e5cbb00.baf7f4"
            ],
            [
                "6df8a267.8d171c"
            ],
            [
                "d3e7bfdb.aecf3"
            ],
            [
                "93b8cc00.f1249"
            ],
            [
                "407a40a8.7c25d"
            ],
            [
                "5779ab8a.70c064"
            ],
            [],
            []
        ]
    },
    {
        "id": "264250f1.01305",
        "type": "ui_text",
        "z": "84b4d8e0.b6fd98",
        "group": "67a14c96.6c55e4",
        "order": 1,
        "width": "4",
        "height": "1",
        "name": "Target Encoder Value",
        "label": "Target-Encoder",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1340,
        "y": 160,
        "wires": []
    },
    {
        "id": "c2164f14.c0472",
        "type": "ui_text",
        "z": "84b4d8e0.b6fd98",
        "group": "67a14c96.6c55e4",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Encoder Value",
        "label": "Encoder",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1320,
        "y": 200,
        "wires": []
    },
    {
        "id": "dff00c77.68d3",
        "type": "ui_gauge",
        "z": "84b4d8e0.b6fd98",
        "name": "GaugePosition",
        "group": "9a9914b6.9f31e8",
        "order": 1,
        "width": "4",
        "height": "6",
        "gtype": "gage",
        "title": "Rotation",
        "label": "angle [°]",
        "format": "{{value | number:4}}°",
        "min": "-180",
        "max": "180",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1320,
        "y": 240,
        "wires": []
    },
    {
        "id": "70e2eada.986c04",
        "type": "function",
        "z": "84b4d8e0.b6fd98",
        "name": "Split CLK / Enable / RS232 Response",
        "func": "var L_Cmd = context.get(\"LastCmd\") || \"\"; //initialize\nvar newMsg = { payload: msg.payload.length };\nvar length = 0;\nvar Values = 0;\n\nif(msg.topic == \"CMDDropBox\")\n{\n    newMsg.topic = \"Clk-Trigger\"\n    L_Cmd = \"CMDDropBox\";\n    context.set(\"LastCmd\",L_Cmd);\n    newMsg.payload = msg.payload;\n    return [newMsg, null, null];\n}\n\nelse if(msg.topic == \"Clk-Trigger\")\n{\n    switch(msg.payload)\n    {\n        case \"POS\":\n            L_Cmd=\"POS\";\n            context.set(\"LastCmd\",L_Cmd);\n            return [msg, null, null];\n        case \"TEM\":\n            L_Cmd=\"TEM\";\n            context.set(\"LastCmd\",L_Cmd);\n            return [msg, null, null];\n        case \"GRC\":\n            L_Cmd=\"GRC\";\n            context.set(\"LastCmd\",L_Cmd);\n            return [msg, null, null];\n            \n        //SET Zero button input\n        case \"HO\":\n            return[msg, null, null];\n            \n        default:\n            return [null, null, null];\n    }\n       \n}\nelse // must be rs232 response!\n{\n    length = msg.payload.length - 1;\n    Values = msg.payload.substring(1,length);\n    if(Values == \"OK\")\n    {\n        msg.topic=\"Serial-Response(OK)\";\n        msg.payload = Values;\n        return [msg, null, null];\n    }\n    else if(Values == \"p\")\n    {\n        msg.topic=\"Serial-Response(p)\";\n        msg.payload = Values;\n        return [msg, null, null];\n    }\n    else    //Serial-Response(DATA)\n    {\n        switch(L_Cmd)\n        {\n            case \"POS\":\n                L_Cmd=\"\";\n                context.set(\"LastCmd\",L_Cmd);\n                msg.topic = \"Serial-Response(EncoderValue)\";\n                msg.payload = parseInt(msg.payload);\n                newMsg.payload = parseFloat(msg.payload);\n                newMsg.topic = \"Position\";\n                return [msg, newMsg, null]; \n            case \"TEM\":\n                L_Cmd=\"\";\n                context.set(\"LastCmd\",L_Cmd);\n                msg.topic = \"Serial-Response(TEM)\";\n                return [msg, null, null]; \n            case \"GRC\":\n                L_Cmd=\"\";\n                context.set(\"LastCmd\",L_Cmd);\n                msg.topic = \"Serial-Response(GRC)\";\n                msg.payload = parseInt(msg.payload);\n                newMsg.topic = \"CurrentForChart\";\n                newMsg.payload = parseFloat(msg.payload);\n                return [msg, null, newMsg]; \n            case \"CMDDropBox\":\n                msg.topic = \"CMDDropBox\";\n                return [msg, null, null]; \n            default:\n                return [null, null, null];\n        }\n    }\n       \n}\n\n\n\n\n\n\n\n\n\n",
        "outputs": 3,
        "noerr": 0,
        "x": 395.00000762939453,
        "y": 261.0000114440918,
        "wires": [
            [
                "6e151578.ca59dc"
            ],
            [
                "5ec72d9d.c51064"
            ],
            [
                "cd3dc6e6.d063c8"
            ]
        ],
        "inputLabels": [
            "Serial_In"
        ],
        "outputLabels": [
            "Enable_btn",
            "Clk-Trigger / RS232-Response",
            "Position",
            "CurrentForChart"
        ]
    },
    {
        "id": "e0b4649f.6cf6d8",
        "type": "range",
        "z": "84b4d8e0.b6fd98",
        "minin": "-180",
        "maxin": "180",
        "minout": "232366.0572",
        "maxout": "-232366.0572",
        "action": "clamp",
        "round": true,
        "name": "Map Position to Encoder Value",
        "x": 730,
        "y": 420,
        "wires": [
            [
                "6e151578.ca59dc"
            ]
        ]
    },
    {
        "id": "5ec72d9d.c51064",
        "type": "range",
        "z": "84b4d8e0.b6fd98",
        "minin": "-232366.0572",
        "maxin": "232366.0572",
        "minout": "180",
        "maxout": "-180",
        "action": "scale",
        "round": false,
        "name": "MAP Encoder Value to Position",
        "x": 730,
        "y": 340,
        "wires": [
            [
                "6e151578.ca59dc"
            ]
        ]
    },
    {
        "id": "cd3dc6e6.d063c8",
        "type": "range",
        "z": "84b4d8e0.b6fd98",
        "minin": "-500",
        "maxin": "500",
        "minout": "-90",
        "maxout": "90",
        "action": "scale",
        "round": true,
        "name": "MAP Current to Chart Scale",
        "x": 720,
        "y": 380,
        "wires": [
            [
                "6e151578.ca59dc"
            ]
        ]
    },
    {
        "id": "93b8cc00.f1249",
        "type": "ui_chart",
        "z": "84b4d8e0.b6fd98",
        "name": "PosChart",
        "group": "67a14c96.6c55e4",
        "order": 8,
        "width": "4",
        "height": "6",
        "label": "Position",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-90",
        "ymax": "90",
        "removeOlder": "60",
        "removeOlderPoints": "2000",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1300,
        "y": 440,
        "wires": [
            [],
            []
        ],
        "inputLabels": [
            "Position"
        ]
    },
    {
        "id": "6df8a267.8d171c",
        "type": "ui_text",
        "z": "84b4d8e0.b6fd98",
        "group": "67a14c96.6c55e4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Current_tbx",
        "label": "Current",
        "format": "{{msg.payload}} mA",
        "layout": "row-spread",
        "x": 1310,
        "y": 360,
        "wires": []
    },
    {
        "id": "7e5cbb00.baf7f4",
        "type": "ui_text",
        "z": "84b4d8e0.b6fd98",
        "group": "9a9914b6.9f31e8",
        "order": 3,
        "width": "4",
        "height": "2",
        "name": "SampleRotationPosition_tbx",
        "label": "Rotation:",
        "format": "{{msg.payload | number:5}}°",
        "layout": "row-spread",
        "x": 1360,
        "y": 320,
        "wires": []
    },
    {
        "id": "407a40a8.7c25d",
        "type": "ui_text",
        "z": "84b4d8e0.b6fd98",
        "group": "67a14c96.6c55e4",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max Current",
        "format": "{{msg.payload}} mA",
        "layout": "row-spread",
        "x": 1310,
        "y": 520,
        "wires": []
    },
    {
        "id": "d3e7bfdb.aecf3",
        "type": "ui_text",
        "z": "84b4d8e0.b6fd98",
        "group": "67a14c96.6c55e4",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatur",
        "format": "{{msg.payload}}°C",
        "layout": "row-spread",
        "x": 1310,
        "y": 400,
        "wires": []
    },
    {
        "id": "5779ab8a.70c064",
        "type": "ui_text",
        "z": "84b4d8e0.b6fd98",
        "group": "67a14c96.6c55e4",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "CMD Response",
        "label": "------CMD Response------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1320,
        "y": 560,
        "wires": []
    },
    {
        "id": "17fee727.a96369",
        "type": "comment",
        "z": "84b4d8e0.b6fd98",
        "name": "Range Setting",
        "info": "Rotation axis:\nEncoder value 1°: --> 1290.92254 \nRange +/- 180°:  --> 232366.0572\n",
        "x": 730,
        "y": 480,
        "wires": []
    },
    {
        "id": "7e8ca67c.990878",
        "type": "comment",
        "z": "84b4d8e0.b6fd98",
        "name": "Big Chart on separat Tab",
        "info": "",
        "x": 1410,
        "y": 480,
        "wires": []
    },
    {
        "id": "a4e4659b.873c58",
        "type": "ui_button",
        "z": "84b4d8e0.b6fd98",
        "name": "",
        "group": "ba966926.0802c8",
        "order": 4,
        "width": "4",
        "height": "2",
        "passthru": false,
        "label": "SET Zero",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "HO",
        "payloadType": "str",
        "topic": "Clk-Trigger",
        "x": 159.00000381469727,
        "y": 288.0000247955322,
        "wires": [
            [
                "70e2eada.986c04"
            ]
        ]
    },
    {
        "id": "736bb4cb.3026ec",
        "type": "ui_group",
        "z": "",
        "name": "Keyboard",
        "tab": "bc2ea738.876658",
        "order": 2,
        "disp": true,
        "width": "4"
    },
    {
        "id": "67a14c96.6c55e4",
        "type": "ui_group",
        "z": "",
        "name": "Axis Details",
        "tab": "bc2ea738.876658",
        "order": 4,
        "disp": true,
        "width": "4"
    },
    {
        "id": "9a9914b6.9f31e8",
        "type": "ui_group",
        "z": "",
        "name": "Position",
        "tab": "bc2ea738.876658",
        "order": 3,
        "disp": true,
        "width": "4"
    },
    {
        "id": "ba966926.0802c8",
        "type": "ui_group",
        "z": "",
        "name": "Options",
        "tab": "bc2ea738.876658",
        "order": 1,
        "disp": true,
        "width": "4"
    },
    {
        "id": "bc2ea738.876658",
        "type": "ui_tab",
        "z": "",
        "name": "Sample Rotation",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "76caf18d.599fb",
        "type": "subflow",
        "name": "Axis_Logic",
        "info": "",
        "in": [
            {
                "x": 120,
                "y": 460,
                "wires": [
                    {
                        "id": "cd50862e.a30118"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 680,
                "y": 160,
                "wires": [
                    {
                        "id": "cd50862e.a30118",
                        "port": 0
                    }
                ]
            },
            {
                "x": 680,
                "y": 220,
                "wires": [
                    {
                        "id": "cd50862e.a30118",
                        "port": 1
                    }
                ]
            },
            {
                "x": 680,
                "y": 280,
                "wires": [
                    {
                        "id": "cd50862e.a30118",
                        "port": 2
                    }
                ]
            },
            {
                "x": 680,
                "y": 340,
                "wires": [
                    {
                        "id": "cd50862e.a30118",
                        "port": 3
                    }
                ]
            },
            {
                "x": 680,
                "y": 400,
                "wires": [
                    {
                        "id": "cd50862e.a30118",
                        "port": 4
                    }
                ]
            },
            {
                "x": 680,
                "y": 460,
                "wires": [
                    {
                        "id": "cd50862e.a30118",
                        "port": 5
                    }
                ]
            },
            {
                "x": 680,
                "y": 520,
                "wires": [
                    {
                        "id": "cd50862e.a30118",
                        "port": 6
                    }
                ]
            },
            {
                "x": 680,
                "y": 580,
                "wires": [
                    {
                        "id": "cd50862e.a30118",
                        "port": 7
                    }
                ]
            },
            {
                "x": 680,
                "y": 640,
                "wires": [
                    {
                        "id": "cd50862e.a30118",
                        "port": 8
                    }
                ]
            },
            {
                "x": 680,
                "y": 700,
                "wires": [
                    {
                        "id": "cd50862e.a30118",
                        "port": 9
                    }
                ]
            },
            {
                "x": 680,
                "y": 760,
                "wires": [
                    {
                        "id": "cd50862e.a30118",
                        "port": 10
                    }
                ]
            },
            {
                "x": 680,
                "y": 820,
                "wires": [
                    {
                        "id": "cd50862e.a30118",
                        "port": 11
                    }
                ]
            }
        ],
        "outputLabels": [
            "CMDs",
            "CommandMsg",
            "TargetEncoder",
            "Encoder",
            "Position",
            "Current",
            "Temperatur",
            "Chart",
            "MaxCurrent",
            "CMD-Response",
            "Chart-PlotFlag",
            "MotorMsg"
        ]
    },
    {
        "id": "cd50862e.a30118",
        "type": "function",
        "z": "76caf18d.599fb",
        "name": "Dispatch_Input",
        "func": "//Initialise variables that don't exist yet, otherwise get current values\nvar PlotFlag = flow.get(\"PlotFlag\") || false;\nvar TargetPos = flow.get(\"TargetPosition\") || 0;\nvar MaxCurrent = flow.get(\"MaxCurrent\") || 0; //initialize\nvar MaxCurrentMsg = { payload: msg.payload.length };\nvar newMsgCMD = { payload: msg.payload.length };\nvar newMsgPlotFlag = { payload: msg.payload.length };\nvar Current = 0;\nvar LivePos = 0;\nvar Diff = 0;\n\n//Different responses based on topic of received message\nswitch(msg.topic)\n{\n    //If input from keypad (i.e. encoder values)\n    case \"KeyPad\":\n        flow.set(\"PlotFlag\", true); //this sets the PlotFlag!\n        newMsgPlotFlag.topic = \"Set PlotFlag (KeyPad)\";\n        newMsgPlotFlag.payload = true;\n        node.send([null,newMsgPlotFlag,null,null,null,null,null,null,null,null,newMsgPlotFlag,null]); //send msg\n        \n        flow.set(\"MaxCurrent\", 0);\n        TargetPos = msg.payload;\n        flow.set(\"TargetPosition\", TargetPos);  //store Target Position (Encoder Values)\n        newMsgCMD.topic = \"TargetEncoderCMDs\";\n        newMsgCMD.payload = \"LA\" + msg.payload.toString();    \n        node.send([newMsgCMD,newMsgCMD,null,null,null,null,null,null,null,null,newMsgPlotFlag,null]); //send msg\n\n        newMsgCMD.payload = \"M\";    //start moving\n        msg.topic = \"TargetEncoderCMDs\";\n        return [newMsgCMD,newMsgCMD,msg,null,null,null,null,null,null,null,null,null];\n    \n    //if response from motor for dropbox command\n    case \"CMDDropBox\":\n        //route to 10th output\n        return [null,null,null,null,null,null,null,null,null,msg,null,null];\n    \n    //if commands to send to motor (POST/TEM/GRC/Set zero or from dropbox)\n    case \"Clk-Trigger\":\n        msg.topic=\"CMDs\";\n        //route to 1st output\n        return [msg,null,null,null,null,null,null,null,null,null,null,null];\n    \n    //? not sure what case leads to this ?\n    case \"CMDs\":\n        //route to 2nd output\n        return [null,msg,null,null,null,null,null,null,null,null,null,null];\n    \n    //Current value for chart\n    case \"CurrentForChart\":\n       msg.topic=\"Motor Current\";\n        if(PlotFlag === false)\n        {\n            return [null,null,null,null,null,null,null,null,null,null,null,null];\n        }\n        else\n        {\n            //route to 8th output\n            return [null,null,null,null,null,null,null,msg,null,null,null,null];\n        }\n        break;\n    \n    //If current encoder value from motor    \n    case \"Serial-Response(EncoderValue)\":\n        msg.topic = \"Encoder\";\n        if(PlotFlag === true)\n        {\n            LivePos = msg.payload;\n            Diff = Math.abs(Math.abs(TargetPos) - Math.abs(LivePos));\n            if(Diff < 20)\n            {\n                flow.set(\"PlotFlag\", false);\n                newMsgPlotFlag.payload = false;\n                newMsgPlotFlag.topic = \"Reset PlotFlag Diff=\" + Diff;\n                return [null,newMsgPlotFlag,null,msg,null,null,null,null,null,null,newMsgPlotFlag,null];\n            }\n        }\n        return [null,null,null,msg,null,null,null,null,null,null,null,null];\n    \n    //If current position in degrees\n    case \"Position\":\n       \n        msg.payload = parseFloat(msg.payload);\n        if(PlotFlag === true)\n        {\n            return [null,null,null,null,msg,null,null,msg,null,null,null,null];\n        }\n        else\n        {\n            return [null,null,null,null,msg,null,null,null,null,null,null,null];\n        }\n        break;\n    \n    //If current from motor\n    case \"Serial-Response(GRC)\":\n        msg.topic = \"Current\";\n        Current = parseInt(msg.payload);\n        if(Current > MaxCurrent)\n        {\n            MaxCurrent = Current;\n            flow.set(\"MaxCurrent\", MaxCurrent);\n        }\n        MaxCurrentMsg.payload = MaxCurrent;\n        return [null,null,null,null,null,msg,null,null,MaxCurrentMsg,null,null,null];\n    \n    //If temperature from motor\n    case \"Serial-Response(TEM)\":\n        msg.topic = \"Temperatur\";\n        return [null,null,null,null,null,null,msg,null,null,null,null,null];\n    \n    //If ok response from motor\n    case \"Serial-Response(OK)\": \n        return [null,null,null,null,null,null,null,null,null,null,null,null]; \n    \n    //otherwise (any other response from motor)\n    default:\n        return [null,null,null,null,null,null,null,null,null,null,null,msg]; \n}\n//          1       2           3           4       5       6           7       8       9           10          11          12\n//return [CMDs,CommandMsg,TargetEncoder,Encoder,Position,Current,Temperatur,Chart,MaxCurrent,CMD-Response,Chart-PlotFlag,MotorMsg];",
        "outputs": "12",
        "noerr": 0,
        "x": 340,
        "y": 460,
        "wires": [
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            []
        ],
        "outputLabels": [
            "CMDs",
            "CommandMsg",
            "TargetEncoder",
            "Encoder",
            "Position",
            "Current",
            "Temperatur",
            "Chart",
            "MaxCurrent",
            "CMD-Response",
            "Chart-PlotFlag",
            "MotorMsg"
        ]
    },
    {
        "id": "70bea832.a44028",
        "type": "comment",
        "z": "76caf18d.599fb",
        "name": "CMDs to motor",
        "info": "",
        "x": 820,
        "y": 160,
        "wires": []
    },
    {
        "id": "76300f98.46ceb",
        "type": "comment",
        "z": "76caf18d.599fb",
        "name": "CommandMsg (debug window, keep track of commands to motor)",
        "info": "",
        "x": 970,
        "y": 220,
        "wires": []
    },
    {
        "id": "69dd9adf.3c9ea4",
        "type": "comment",
        "z": "76caf18d.599fb",
        "name": "TargetEncoder Value (from keypad)",
        "info": "",
        "x": 880,
        "y": 280,
        "wires": []
    },
    {
        "id": "f44e81d7.51e86",
        "type": "comment",
        "z": "76caf18d.599fb",
        "name": "Current Encoder value",
        "info": "",
        "x": 840,
        "y": 340,
        "wires": []
    },
    {
        "id": "7cf25fc3.45221",
        "type": "comment",
        "z": "76caf18d.599fb",
        "name": "Current position in degrees",
        "info": "",
        "x": 850,
        "y": 400,
        "wires": []
    },
    {
        "id": "66e755dd.50b7bc",
        "type": "comment",
        "z": "76caf18d.599fb",
        "name": "MotorMsg (debug window)",
        "info": "",
        "x": 850,
        "y": 820,
        "wires": []
    },
    {
        "id": "b36e2b53.42ea88",
        "type": "comment",
        "z": "76caf18d.599fb",
        "name": "Current (motor)",
        "info": "",
        "x": 820,
        "y": 460,
        "wires": []
    },
    {
        "id": "7a5c6b60.30a204",
        "type": "comment",
        "z": "76caf18d.599fb",
        "name": "Temperature",
        "info": "",
        "x": 810,
        "y": 520,
        "wires": []
    },
    {
        "id": "d19ad831.805e98",
        "type": "comment",
        "z": "76caf18d.599fb",
        "name": "Chart Values",
        "info": "",
        "x": 810,
        "y": 580,
        "wires": []
    },
    {
        "id": "88e05046.c48da",
        "type": "comment",
        "z": "76caf18d.599fb",
        "name": "MaxCurrent",
        "info": "",
        "x": 810,
        "y": 640,
        "wires": []
    },
    {
        "id": "5ee5eba.2406414",
        "type": "comment",
        "z": "76caf18d.599fb",
        "name": "CMD-Response (from DropBox commands)",
        "info": "",
        "x": 910,
        "y": 700,
        "wires": []
    },
    {
        "id": "2a19514f.04190e",
        "type": "comment",
        "z": "76caf18d.599fb",
        "name": "Chart-PlotFlag",
        "info": "",
        "x": 810,
        "y": 760,
        "wires": []
    },
    {
        "id": "4a8410cb.9b8d8",
        "type": "comment",
        "z": "76caf18d.599fb",
        "name": "Receives input from motor / keypad etc, and sorts this into various distinct outputs",
        "info": "",
        "x": 340,
        "y": 60,
        "wires": []
    },
    {
        "id": "c1749481.987818",
        "type": "subflow",
        "name": "KnifeTilt_Dash",
        "info": "Rotation axis:\nEncoder value 60°: --> 891414\nRange +/- 30°:      --> 445707\n",
        "in": [
            {
                "x": 60,
                "y": 280,
                "wires": [
                    {
                        "id": "7f4349a5.cc4b98"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1260,
                "y": 60,
                "wires": [
                    {
                        "id": "bb951d0c.dee9f",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1260,
                "y": 120,
                "wires": [
                    {
                        "id": "bb951d0c.dee9f",
                        "port": 1
                    }
                ]
            },
            {
                "x": 1300,
                "y": 940,
                "wires": [
                    {
                        "id": "bb951d0c.dee9f",
                        "port": 11
                    }
                ]
            },
            {
                "x": 1300,
                "y": 620,
                "wires": [
                    {
                        "id": "bb951d0c.dee9f",
                        "port": 7
                    }
                ]
            },
            {
                "x": 1380,
                "y": 300,
                "wires": [
                    {
                        "id": "bb951d0c.dee9f",
                        "port": 4
                    }
                ]
            }
        ],
        "inputLabels": [
            "Serial_In"
        ],
        "outputLabels": [
            "CMDs (to Serial Out)",
            "Command_Msg",
            "Motor_Msg",
            "Big Chart",
            "Knife Tilt Position"
        ]
    },
    {
        "id": "679dd40e.99adcc",
        "type": "ui_gauge",
        "z": "c1749481.987818",
        "name": "GaugePosition",
        "group": "11a0c42f.1e71bc",
        "order": 1,
        "width": "4",
        "height": "6",
        "gtype": "gage",
        "title": "Knife",
        "label": "angle [°]",
        "format": "{{value | number:4}}°",
        "min": "-30",
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1440,
        "y": 400,
        "wires": []
    },
    {
        "id": "f53011b0.5e57b",
        "type": "ui_text",
        "z": "c1749481.987818",
        "group": "81432d1c.b30c1",
        "order": 1,
        "width": "4",
        "height": "1",
        "name": "Target Encoder Value",
        "label": "Target-Encoder",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1340,
        "y": 180,
        "wires": []
    },
    {
        "id": "43e59da3.4c3d44",
        "type": "ui_text",
        "z": "c1749481.987818",
        "group": "81432d1c.b30c1",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Encoder Value",
        "label": "Encoder",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1320,
        "y": 240,
        "wires": []
    },
    {
        "id": "89c3ac7e.a3327",
        "type": "comment",
        "z": "c1749481.987818",
        "name": "CMDs (to Serial Out)",
        "info": "Serial Out",
        "x": 1390,
        "y": 60,
        "wires": []
    },
    {
        "id": "f724307a.0da4f",
        "type": "comment",
        "z": "c1749481.987818",
        "name": "Command Msg",
        "info": "",
        "x": 1380,
        "y": 120,
        "wires": []
    },
    {
        "id": "5ac2e848.efd318",
        "type": "comment",
        "z": "c1749481.987818",
        "name": "Motor Msg",
        "info": "",
        "x": 1400,
        "y": 940,
        "wires": []
    },
    {
        "id": "7f4349a5.cc4b98",
        "type": "function",
        "z": "c1749481.987818",
        "name": "Split CLK / Enable / RS232 Response",
        "func": "//A variable local to the node called LastCmd -\n//either retrieve current value or (if doesn't\n//exist yet) set to empty string\nvar L_Cmd = context.get(\"LastCmd\") || \"\"; //initialize\n//message equal to length of message payload\nvar newMsg = { payload: msg.payload.length };\nvar length = 0;\nvar Values = 0;\n\n//If input from drop down menu\nif(msg.topic == \"CMDDropBox\")\n{\n    newMsg.topic = \"Clk-Trigger\"\n    L_Cmd = \"CMDDropBox\";\n    context.set(\"LastCmd\",L_Cmd);\n    newMsg.payload = msg.payload;\n    //return new message to second output\n    return [newMsg, null, null];\n}\n\n//If input from Pos/Temp/Current function in main, or set zero button\nelse if(msg.topic == \"Clk-Trigger\")\n{\n    switch(msg.payload)\n    {\n        case \"POS\":\n            L_Cmd=\"POS\";\n            context.set(\"LastCmd\",L_Cmd);\n            return [msg, null, null];\n        case \"TEM\":\n            L_Cmd=\"TEM\";\n            context.set(\"LastCmd\",L_Cmd);\n            return [msg, null, null];\n        case \"GRC\":\n            L_Cmd=\"GRC\";\n            context.set(\"LastCmd\",L_Cmd);\n            return [msg, null, null];\n            \n        //SET Zero button input\n        case \"HO\":\n            return[msg, null, null];\n            \n        default:\n            return [null, null, null];\n    }\n       \n}\n\n//If response from the knife motor (rs232 response)\nelse\n{\n    length = msg.payload.length - 1;\n    Values = msg.payload.substring(1,length);\n    if(Values == \"OK\")\n    {\n        msg.topic=\"Serial-Response(OK)\";\n        msg.payload = Values;\n        return [msg, null, null];\n    }\n    else if(Values == \"p\")\n    {\n        msg.topic=\"Serial-Response(p)\";\n        msg.payload = Values;\n        return [msg, null, null];\n    }\n    else    //Serial-Response(DATA)\n    {\n        //alternates based on last command\n        switch(L_Cmd)\n        {\n            //Output position info\n            case \"POS\":\n                L_Cmd=\"\";\n                context.set(\"LastCmd\",L_Cmd);\n                msg.topic = \"Serial-Response(EncoderValue)\";\n                msg.payload = parseInt(msg.payload);\n                newMsg.payload = parseFloat(msg.payload);\n                newMsg.topic = \"Position\";\n                return [msg, newMsg, null];\n                \n            //output temperature info\n            case \"TEM\":\n                L_Cmd=\"\";\n                context.set(\"LastCmd\",L_Cmd);\n                msg.topic = \"Serial-Response(TEM)\";\n                return [msg, null, null]; \n                \n            //Output current info\n            case \"GRC\":\n                L_Cmd=\"\";\n                context.set(\"LastCmd\",L_Cmd);\n                msg.topic = \"Serial-Response(GRC)\";\n                msg.payload = parseInt(msg.payload);\n                newMsg.topic = \"CurrentForChart\";\n                newMsg.payload = parseFloat(msg.payload);\n                return [msg, null, newMsg]; \n                \n            case \"CMDDropBox\":\n                msg.topic = \"CMDDropBox\";\n                return [msg, null, null]; \n            default:\n                return [null, null, null];\n        }\n    }\n        \n}\n\n\n\n\n\n\n\n\n\n",
        "outputs": 3,
        "noerr": 0,
        "x": 330,
        "y": 280,
        "wires": [
            [
                "bb951d0c.dee9f"
            ],
            [
                "1d054933.47b6e7"
            ],
            [
                "188ecc08.86df84"
            ]
        ],
        "inputLabels": [
            "Serial_In"
        ],
        "outputLabels": [
            "Enable_btn",
            "Clk-Trigger / RS232-Response",
            "Position"
        ]
    },
    {
        "id": "5f9f5af4.de3424",
        "type": "ui_text_input",
        "z": "c1749481.987818",
        "name": "Target Position Tbx",
        "label": "Target-Position",
        "group": "841439a3.0e0588",
        "order": 1,
        "width": "4",
        "height": "2",
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "TargetPosition_tbx",
        "x": 390,
        "y": 440,
        "wires": [
            [
                "b0ff346.a81b5c8"
            ]
        ]
    },
    {
        "id": "53b7cce7.83e7c4",
        "type": "ui_button",
        "z": "c1749481.987818",
        "name": "GOTO Zero",
        "group": "841439a3.0e0588",
        "order": 2,
        "width": "4",
        "height": "2",
        "passthru": false,
        "label": "GOTO Zero",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "GotoZero",
        "x": 110,
        "y": 480,
        "wires": [
            [
                "b0ff346.a81b5c8"
            ]
        ]
    },
    {
        "id": "86adcb15.840838",
        "type": "ui_button",
        "z": "c1749481.987818",
        "name": "Button0",
        "group": "841439a3.0e0588",
        "order": 15,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "0",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 880,
        "wires": [
            [
                "b0ff346.a81b5c8"
            ]
        ]
    },
    {
        "id": "47755725.96ff98",
        "type": "ui_button",
        "z": "c1749481.987818",
        "name": "Button1",
        "group": "841439a3.0e0588",
        "order": 11,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "1",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 920,
        "wires": [
            [
                "b0ff346.a81b5c8"
            ]
        ]
    },
    {
        "id": "e53d0449.e6b3f8",
        "type": "ui_button",
        "z": "c1749481.987818",
        "name": "Button2",
        "group": "841439a3.0e0588",
        "order": 12,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "2",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 680,
        "wires": [
            [
                "b0ff346.a81b5c8"
            ]
        ]
    },
    {
        "id": "aa97bc12.14e5",
        "type": "ui_button",
        "z": "c1749481.987818",
        "name": "Button3",
        "group": "841439a3.0e0588",
        "order": 13,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "3",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "3",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 720,
        "wires": [
            [
                "b0ff346.a81b5c8"
            ]
        ]
    },
    {
        "id": "dc844726.812cb8",
        "type": "ui_button",
        "z": "c1749481.987818",
        "name": "Button4",
        "group": "841439a3.0e0588",
        "order": 7,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "4",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "4",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 760,
        "wires": [
            [
                "b0ff346.a81b5c8"
            ]
        ]
    },
    {
        "id": "548f2c45.e54964",
        "type": "ui_button",
        "z": "c1749481.987818",
        "name": "Button5",
        "group": "841439a3.0e0588",
        "order": 8,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "5",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "5",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 800,
        "wires": [
            [
                "b0ff346.a81b5c8"
            ]
        ]
    },
    {
        "id": "e95f62c2.bf3c",
        "type": "ui_button",
        "z": "c1749481.987818",
        "name": "Button6",
        "group": "841439a3.0e0588",
        "order": 9,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "6",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "6",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 520,
        "wires": [
            [
                "b0ff346.a81b5c8"
            ]
        ]
    },
    {
        "id": "fc7a8883.58b718",
        "type": "ui_button",
        "z": "c1749481.987818",
        "name": "Button7",
        "group": "841439a3.0e0588",
        "order": 3,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "7",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "7",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 560,
        "wires": [
            [
                "b0ff346.a81b5c8"
            ]
        ]
    },
    {
        "id": "da875f9f.6af78",
        "type": "ui_button",
        "z": "c1749481.987818",
        "name": "Button8",
        "group": "841439a3.0e0588",
        "order": 4,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "8",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "8",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 600,
        "wires": [
            [
                "b0ff346.a81b5c8"
            ]
        ]
    },
    {
        "id": "adb0dd16.ec81a",
        "type": "ui_button",
        "z": "c1749481.987818",
        "name": "Button9",
        "group": "841439a3.0e0588",
        "order": 5,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "9",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "9",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 640,
        "wires": [
            [
                "b0ff346.a81b5c8"
            ]
        ]
    },
    {
        "id": "fdacaf2.cb0cc5",
        "type": "ui_button",
        "z": "c1749481.987818",
        "name": "Punkt",
        "group": "841439a3.0e0588",
        "order": 10,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": ".",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": ".",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 960,
        "wires": [
            [
                "b0ff346.a81b5c8"
            ]
        ]
    },
    {
        "id": "1222c161.7eec9f",
        "type": "ui_button",
        "z": "c1749481.987818",
        "name": "Enter",
        "group": "841439a3.0e0588",
        "order": 16,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "Enter",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "ENTER",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 1000,
        "wires": [
            [
                "b0ff346.a81b5c8"
            ]
        ]
    },
    {
        "id": "bbf4f34c.5df75",
        "type": "ui_button",
        "z": "c1749481.987818",
        "name": "Clear",
        "group": "841439a3.0e0588",
        "order": 14,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "C",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "CLEAR",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 1040,
        "wires": [
            [
                "b0ff346.a81b5c8"
            ]
        ]
    },
    {
        "id": "b0ff346.a81b5c8",
        "type": "function",
        "z": "c1749481.987818",
        "name": "DispatchKeys",
        "func": "//Variable local to node, either get current value\n//or (if doesn't exist yet) set to an empty\n//string\nvar T_POS = context.get(\"TargetPosition\") || \"\"; //initialize\n\n//if go to zero pressed\nif((msg.topic == \"GotoZero\") || (msg.topic == \"TargetPosition_tbx\"))\n{\n    msg.topic=\"KeyPad\";\n    return [msg, msg];\n}\nswitch(msg.payload)\n{   \n    //when enter is pressed, set the payload\n    //to current value and send to output 1\n    case \"ENTER\":\n        msg.payload = T_POS;\n        T_POS = \"\";\n        context.set(\"TargetPosition\",T_POS);\n        msg.topic=\"KeyPad\";\n        return [msg, null];\n        \n    //If backspace is pressed, wipe the current\n    //selection and send to output 2\n    case \"CLEAR\":\n        T_POS = \"\";\n        context.set(\"TargetPosition\",T_POS);\n        msg.payload = T_POS;\n        return [null, msg];\n        \n    //For all else, add the value to the current\n    //value and send to output 2\n    default:\n        T_POS += msg.payload;\n        context.set(\"TargetPosition\",T_POS);\n        msg.payload = T_POS;\n        return [null, msg];\n}\n",
        "outputs": "2",
        "noerr": 0,
        "x": 400,
        "y": 560,
        "wires": [
            [
                "3fa24834.f724f8"
            ],
            [
                "5f9f5af4.de3424"
            ]
        ],
        "outputLabels": [
            "ENTER",
            "Text"
        ]
    },
    {
        "id": "a3f41826.7a8c88",
        "type": "ui_button",
        "z": "c1749481.987818",
        "name": "Minus",
        "group": "841439a3.0e0588",
        "order": 6,
        "width": "1",
        "height": "2",
        "passthru": false,
        "label": "-",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "-",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 840,
        "wires": [
            [
                "b0ff346.a81b5c8"
            ]
        ]
    },
    {
        "id": "9e2c246e.110a88",
        "type": "ui_dropdown",
        "z": "c1749481.987818",
        "name": "CMDDropBox",
        "label": "CMDs",
        "place": "",
        "group": "81432d1c.b30c1",
        "order": 6,
        "width": "4",
        "height": "2",
        "passthru": false,
        "options": [
            {
                "label": "Get Serial Number",
                "value": "GSER",
                "type": "str"
            },
            {
                "label": "Get Current Limit",
                "value": "GCL",
                "type": "str"
            },
            {
                "label": "Get Status",
                "value": "OST",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "CMDDropBox",
        "x": 111,
        "y": 101.00000381469727,
        "wires": [
            [
                "7f4349a5.cc4b98"
            ]
        ]
    },
    {
        "id": "bb951d0c.dee9f",
        "type": "subflow:76caf18d.599fb",
        "z": "c1749481.987818",
        "name": "",
        "x": 1010,
        "y": 300,
        "wires": [
            [],
            [],
            [
                "f53011b0.5e57b"
            ],
            [
                "43e59da3.4c3d44"
            ],
            [
                "679dd40e.99adcc",
                "ff66bfbf.0da66"
            ],
            [
                "4ccd1143.fa18e"
            ],
            [
                "b450aae7.37fef8"
            ],
            [
                "1740d06c.b83fa"
            ],
            [
                "38405118.9f0bae"
            ],
            [
                "af11dc46.53b14"
            ],
            [],
            []
        ]
    },
    {
        "id": "3fa24834.f724f8",
        "type": "range",
        "z": "c1749481.987818",
        "minin": "-30",
        "maxin": "30",
        "minout": "836929.1766",
        "maxout": "-836929.1766",
        "action": "clamp",
        "round": true,
        "name": "Map Position to Encoder Value",
        "x": 730,
        "y": 460,
        "wires": [
            [
                "bb951d0c.dee9f"
            ]
        ]
    },
    {
        "id": "1d054933.47b6e7",
        "type": "range",
        "z": "c1749481.987818",
        "minin": "-836929.1766",
        "maxin": "836929.1766",
        "minout": "30",
        "maxout": "-30",
        "action": "scale",
        "round": false,
        "name": "MAP Encoder Value to Position",
        "x": 730,
        "y": 340,
        "wires": [
            [
                "bb951d0c.dee9f"
            ]
        ]
    },
    {
        "id": "1740d06c.b83fa",
        "type": "ui_chart",
        "z": "c1749481.987818",
        "name": "PosChart",
        "group": "81432d1c.b30c1",
        "order": 8,
        "width": "4",
        "height": "6",
        "label": "Position",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-30",
        "ymax": "30",
        "removeOlder": "60",
        "removeOlderPoints": "2000",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1340,
        "y": 660,
        "wires": [
            [],
            []
        ],
        "inputLabels": [
            "Position"
        ]
    },
    {
        "id": "4ccd1143.fa18e",
        "type": "ui_text",
        "z": "c1749481.987818",
        "group": "81432d1c.b30c1",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Current_tbx",
        "label": "Current",
        "format": "{{msg.payload}} mA",
        "layout": "row-spread",
        "x": 1310,
        "y": 460,
        "wires": []
    },
    {
        "id": "ff66bfbf.0da66",
        "type": "ui_text",
        "z": "c1749481.987818",
        "group": "11a0c42f.1e71bc",
        "order": 2,
        "width": "4",
        "height": "2",
        "name": "KnifeTiltPosition_tbx",
        "label": "Knife:",
        "format": "{{msg.payload | number:5}}°",
        "layout": "row-spread",
        "x": 1453.000015258789,
        "y": 359.0000171661377,
        "wires": []
    },
    {
        "id": "38405118.9f0bae",
        "type": "ui_text",
        "z": "c1749481.987818",
        "group": "81432d1c.b30c1",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max Current",
        "format": "{{msg.payload}} mA",
        "layout": "row-spread",
        "x": 1350,
        "y": 800,
        "wires": []
    },
    {
        "id": "b450aae7.37fef8",
        "type": "ui_text",
        "z": "c1749481.987818",
        "group": "81432d1c.b30c1",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatur",
        "format": "{{msg.payload}}°C",
        "layout": "row-spread",
        "x": 1310,
        "y": 500,
        "wires": []
    },
    {
        "id": "af11dc46.53b14",
        "type": "ui_text",
        "z": "c1749481.987818",
        "group": "81432d1c.b30c1",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "CMD Response",
        "label": "------CMD Response------",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1360,
        "y": 860,
        "wires": []
    },
    {
        "id": "188ecc08.86df84",
        "type": "range",
        "z": "c1749481.987818",
        "minin": "-500",
        "maxin": "500",
        "minout": "-30",
        "maxout": "30",
        "action": "scale",
        "round": true,
        "name": "MAP Current to Chart Scale",
        "x": 720,
        "y": 380,
        "wires": [
            [
                "bb951d0c.dee9f"
            ]
        ]
    },
    {
        "id": "efada6b0.762cc8",
        "type": "comment",
        "z": "c1749481.987818",
        "name": "Range Setting",
        "info": "Alfons\nRotation axis:\nEncoder value 60°: --> 891414\nRange +/- 30°:      --> 445707\nVera\nNew range for 52:1\nRange 1° = 27897.63922\n30° = 836929.1766\n\n",
        "x": 710,
        "y": 560,
        "wires": []
    },
    {
        "id": "abf8b8ba.0b5a88",
        "type": "comment",
        "z": "c1749481.987818",
        "name": "Big Chart on separat Tab",
        "info": "",
        "x": 1450,
        "y": 620,
        "wires": []
    },
    {
        "id": "b36b6dee.c9385",
        "type": "comment",
        "z": "c1749481.987818",
        "name": "UI buttons for keyboard",
        "info": "",
        "x": 140,
        "y": 440,
        "wires": []
    },
    {
        "id": "214c8074.9d66",
        "type": "comment",
        "z": "c1749481.987818",
        "name": "Drop down menu options - CMDs",
        "info": "GSER / GCL / OST commands to send to motor",
        "x": 150,
        "y": 60,
        "wires": []
    },
    {
        "id": "4d151dbf.185d54",
        "type": "comment",
        "z": "c1749481.987818",
        "name": "Explanation:",
        "info": "Receives input from the dropdown menu and various\nitems in main. These all send messages. What to do\nis decided based on the 'topic' of the message.\nAs only one input can be handled at a time.\n\nProcesses input for each into usable format and sends\nto correct output\n\nOutput1: Enable_btn|EN\nOutput2: CMDs from drop box, POS/TEM/GRC CMDS, all responses from motor\nOutput 3: encoder value (POS response)\nOutput 4: current value (GRC response)",
        "x": 290,
        "y": 220,
        "wires": []
    },
    {
        "id": "3b4714af.02379c",
        "type": "comment",
        "z": "c1749481.987818",
        "name": "Map encoder value to degrees",
        "info": "Maps value from motor encoder to a range of degrees\nto display",
        "x": 720,
        "y": 300,
        "wires": []
    },
    {
        "id": "e74bdb22.4c8648",
        "type": "comment",
        "z": "c1749481.987818",
        "name": "Typing Values:",
        "info": "Receive input from keyboard buttons, pass through\nand loop back into input until enter etc is pressed",
        "x": 408,
        "y": 607,
        "wires": []
    },
    {
        "id": "e293207d.5c707",
        "type": "comment",
        "z": "c1749481.987818",
        "name": "Map degrees to encoder value",
        "info": "Maps range of degrees to motor encoder value",
        "x": 720,
        "y": 420,
        "wires": []
    },
    {
        "id": "d0f297aa.83e9a8",
        "type": "ui_button",
        "z": "c1749481.987818",
        "name": "",
        "group": "8d202e9c.06394",
        "order": 4,
        "width": "4",
        "height": "2",
        "passthru": false,
        "label": "SET Zero",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "HO",
        "payloadType": "str",
        "topic": "Clk-Trigger",
        "x": 80,
        "y": 180,
        "wires": [
            [
                "7f4349a5.cc4b98"
            ]
        ]
    },
    {
        "id": "11a0c42f.1e71bc",
        "type": "ui_group",
        "z": "",
        "name": "Position",
        "tab": "75d561d.cb2dda",
        "order": 3,
        "disp": true,
        "width": "4"
    },
    {
        "id": "81432d1c.b30c1",
        "type": "ui_group",
        "z": "",
        "name": "Axis Details",
        "tab": "75d561d.cb2dda",
        "order": 4,
        "disp": true,
        "width": "4"
    },
    {
        "id": "841439a3.0e0588",
        "type": "ui_group",
        "z": "",
        "name": "Keyboard",
        "tab": "75d561d.cb2dda",
        "order": 2,
        "disp": true,
        "width": "4"
    },
    {
        "id": "8d202e9c.06394",
        "type": "ui_group",
        "z": "",
        "name": "Options",
        "tab": "75d561d.cb2dda",
        "order": 1,
        "disp": true,
        "width": "4"
    },
    {
        "id": "75d561d.cb2dda",
        "type": "ui_tab",
        "z": "",
        "name": "Knife Tilt",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "f0d79831.389ea8",
        "type": "tab",
        "label": "Main",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a69f672a.56f488",
        "type": "serial in",
        "z": "f0d79831.389ea8",
        "name": "COM2-IN",
        "serial": "e1d5d082.fdb79",
        "x": 385.0000305175781,
        "y": 968.1778182983398,
        "wires": [
            [
                "835dc667.272b68"
            ]
        ]
    },
    {
        "id": "ba126799.454598",
        "type": "serial out",
        "z": "f0d79831.389ea8",
        "name": "COM2-OUT",
        "serial": "e1d5d082.fdb79",
        "x": 1521.0001602172852,
        "y": 1069.177827835083,
        "wires": []
    },
    {
        "id": "d6915194.622d4",
        "type": "subflow:c1749481.987818",
        "z": "f0d79831.389ea8",
        "name": "Knife Tilt",
        "x": 605.0000305175781,
        "y": 748.1778182983398,
        "wires": [
            [
                "46c0cf79.8eae"
            ],
            [
                "e3c44988.22d5a8"
            ],
            [
                "f156473b.b93838"
            ],
            [
                "4a85be.e634ca44"
            ],
            [
                "b8989d17.737ef",
                "2fa37c07.3551e4"
            ]
        ]
    },
    {
        "id": "f156473b.b93838",
        "type": "debug",
        "z": "f0d79831.389ea8",
        "name": "Motor_Msg1",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 935.0000305175781,
        "y": 788.1778182983398,
        "wires": []
    },
    {
        "id": "e3c44988.22d5a8",
        "type": "debug",
        "z": "f0d79831.389ea8",
        "name": "Command_Msg1",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 955.0000305175781,
        "y": 748.1778182983398,
        "wires": []
    },
    {
        "id": "fd64f5df.f07f38",
        "type": "inject",
        "z": "f0d79831.389ea8",
        "name": "",
        "topic": "",
        "payload": "ANSW0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 1184.0000610351562,
        "y": 639.1778345108032,
        "wires": [
            [
                "ba126799.454598",
                "46c0cf79.8eae"
            ]
        ]
    },
    {
        "id": "b0a85d5c.61346",
        "type": "inject",
        "z": "f0d79831.389ea8",
        "name": "",
        "topic": "",
        "payload": "ANSW1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 1184.0000610351562,
        "y": 599.1778345108032,
        "wires": [
            [
                "ba126799.454598",
                "46c0cf79.8eae"
            ]
        ]
    },
    {
        "id": "b240cbff.664a98",
        "type": "inject",
        "z": "f0d79831.389ea8",
        "name": "Clock 100ms",
        "topic": "Clk-Trigger",
        "payload": "POS",
        "payloadType": "str",
        "repeat": "0.2",
        "crontab": "",
        "once": false,
        "x": 165.00003051757812,
        "y": 968.1778182983398,
        "wires": [
            [
                "d2fffb0b.f78378"
            ]
        ]
    },
    {
        "id": "d39a9ba3.107e18",
        "type": "serial out",
        "z": "f0d79831.389ea8",
        "name": "COM3-OUT",
        "serial": "f6fac7f9.87bc38",
        "x": 1529.0001602172852,
        "y": 1266.1778354644775,
        "wires": []
    },
    {
        "id": "eb705b15.6906c8",
        "type": "serial in",
        "z": "f0d79831.389ea8",
        "name": "COM3-IN",
        "serial": "f6fac7f9.87bc38",
        "x": 385.0000305175781,
        "y": 1168.1778182983398,
        "wires": [
            [
                "a4b6e8e.1477018"
            ]
        ]
    },
    {
        "id": "11da5e53.4f2af2",
        "type": "serial in",
        "z": "f0d79831.389ea8",
        "name": "COM1-IN",
        "serial": "bffbf8bc.c34398",
        "x": 385.0000305175781,
        "y": 748.1778182983398,
        "wires": [
            [
                "d6915194.622d4"
            ]
        ]
    },
    {
        "id": "46c0cf79.8eae",
        "type": "serial out",
        "z": "f0d79831.389ea8",
        "name": "COM1-OUT",
        "serial": "bffbf8bc.c34398",
        "x": 1514.0001602172852,
        "y": 729.1778259277344,
        "wires": []
    },
    {
        "id": "d2fffb0b.f78378",
        "type": "function",
        "z": "f0d79831.389ea8",
        "name": "POS & Current & Temperatur",
        "func": "//A variable local to the node called Cmd,\n//either get current value, or if it doesn't exist\n//set to an empty string\nvar Cmd = context.get(\"Cmd\") || \"\"; //initialize\n\n//Alternate between current, temp and position\nswitch(Cmd)\n{\n    case \"GRC\":     // current\n        msg.payload = \"GRC\"; //set message payload\n        Cmd = \"TEM\"; //Cmd is next variable\n        context.set(\"Cmd\", Cmd); //set Cmd to Cmd\n        break;\n    case \"TEM\":     // temperature\n        msg.payload = \"TEM\";\n        Cmd = \"POS\";\n        context.set(\"Cmd\",Cmd);\n        break;\n    default:        // position\n        msg.payload = \"POS\";\n        Cmd = \"GRC\";\n        context.set(\"Cmd\",Cmd);\n        break;\n}\nmsg.topic = \"Clk-Trigger\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 345.0000305175781,
        "y": 1068.1778182983398,
        "wires": [
            [
                "d6915194.622d4",
                "835dc667.272b68",
                "a4b6e8e.1477018"
            ]
        ]
    },
    {
        "id": "62f721ee.2dc84",
        "type": "inject",
        "z": "f0d79831.389ea8",
        "name": "Enable_btn",
        "topic": "",
        "payload": "EN",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 340.00008392333984,
        "y": 463.73342514038086,
        "wires": [
            [
                "aca9d30d.22d21",
                "7a7f30d3.5215c",
                "33fdb3cb.22790c"
            ]
        ]
    },
    {
        "id": "835dc667.272b68",
        "type": "subflow:84b4d8e0.b6fd98",
        "z": "f0d79831.389ea8",
        "name": "Sample Rotation",
        "x": 635.0000305175781,
        "y": 968.1778182983398,
        "wires": [
            [
                "ba126799.454598"
            ],
            [
                "281835a8.6831ca"
            ],
            [
                "64dc1c69.2e7954"
            ],
            [
                "4a85be.e634ca44"
            ],
            [
                "4dae769f.bad5a8",
                "27e593af.fbbd1c"
            ]
        ]
    },
    {
        "id": "788dab32.d5eae4",
        "type": "subflow:e48ed529.490938",
        "z": "f0d79831.389ea8",
        "name": "",
        "x": 485.0000305175781,
        "y": 1348.1778182983398,
        "wires": []
    },
    {
        "id": "281835a8.6831ca",
        "type": "debug",
        "z": "f0d79831.389ea8",
        "name": "Command_Msg2",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 975.0000305175781,
        "y": 1028.1778182983398,
        "wires": []
    },
    {
        "id": "64dc1c69.2e7954",
        "type": "debug",
        "z": "f0d79831.389ea8",
        "name": "Motor_Msg2",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 955.0000305175781,
        "y": 1068.1778182983398,
        "wires": []
    },
    {
        "id": "a4b6e8e.1477018",
        "type": "subflow:260b9869.193598",
        "z": "f0d79831.389ea8",
        "name": "Sample Tilt",
        "x": 615.0000305175781,
        "y": 1168.1778182983398,
        "wires": [
            [
                "d39a9ba3.107e18"
            ],
            [
                "5f588d7.bfa5674"
            ],
            [
                "db4c5daa.0a2bf"
            ],
            [
                "4a85be.e634ca44"
            ],
            [
                "f346560c.ee47b8",
                "dfd746c2.9e9ae8"
            ]
        ]
    },
    {
        "id": "5f588d7.bfa5674",
        "type": "debug",
        "z": "f0d79831.389ea8",
        "name": "Command_Msg3",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 955.0000305175781,
        "y": 1328.1778182983398,
        "wires": []
    },
    {
        "id": "db4c5daa.0a2bf",
        "type": "debug",
        "z": "f0d79831.389ea8",
        "name": "Motor_Msg3",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 935.0000305175781,
        "y": 1368.1778182983398,
        "wires": []
    },
    {
        "id": "4a85be.e634ca44",
        "type": "ui_chart",
        "z": "f0d79831.389ea8",
        "name": "BigChart",
        "group": "42e45a18.879f94",
        "order": 0,
        "width": "12",
        "height": "10",
        "label": "Position",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "40",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 925.0000305175781,
        "y": 1588.1778182983398,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "606d4377.77807c",
        "type": "comment",
        "z": "f0d79831.389ea8",
        "name": "USB-1",
        "info": "",
        "x": 1667.0001602172852,
        "y": 722.1778221130371,
        "wires": []
    },
    {
        "id": "89bc27d3.ade5f8",
        "type": "comment",
        "z": "f0d79831.389ea8",
        "name": "USB-0",
        "info": "",
        "x": 1689.0001602172852,
        "y": 1266.1778354644775,
        "wires": []
    },
    {
        "id": "bab2a8a7.0cbee8",
        "type": "comment",
        "z": "f0d79831.389ea8",
        "name": "USB2",
        "info": "",
        "x": 1682.0001602172852,
        "y": 1067.1778259277344,
        "wires": []
    },
    {
        "id": "b8989d17.737ef",
        "type": "ui_text",
        "z": "f0d79831.389ea8",
        "group": "9a9914b6.9f31e8",
        "order": 2,
        "width": "4",
        "height": "2",
        "name": "KnifeTiltPosition_tbx",
        "label": "Knife:",
        "format": "{{msg.payload | number:5}}°",
        "layout": "row-spread",
        "x": 985.0000305175781,
        "y": 1148.1778182983398,
        "wires": []
    },
    {
        "id": "4dae769f.bad5a8",
        "type": "ui_text",
        "z": "f0d79831.389ea8",
        "group": "11a0c42f.1e71bc",
        "order": 3,
        "width": "4",
        "height": "2",
        "name": "SampleRotationPosition_tbx",
        "label": "Rotation:",
        "format": "{{msg.payload | number:5}}°",
        "layout": "row-spread",
        "x": 985.0000305175781,
        "y": 868.1778182983398,
        "wires": []
    },
    {
        "id": "f346560c.ee47b8",
        "type": "ui_text",
        "z": "f0d79831.389ea8",
        "group": "11a0c42f.1e71bc",
        "order": 4,
        "width": "4",
        "height": "2",
        "name": "SampleTiltPosition_tbx",
        "label": "Tilt:",
        "format": "{{msg.payload | number:5}}°",
        "layout": "row-spread",
        "x": 965.0000305175781,
        "y": 908.1778182983398,
        "wires": []
    },
    {
        "id": "dfd746c2.9e9ae8",
        "type": "ui_text",
        "z": "f0d79831.389ea8",
        "group": "9a9914b6.9f31e8",
        "order": 4,
        "width": "4",
        "height": "2",
        "name": "SampleTiltPosition_tbx",
        "label": "Tilt:",
        "format": "{{msg.payload | number:5}}°",
        "layout": "row-spread",
        "x": 985.0000305175781,
        "y": 1188.1778182983398,
        "wires": []
    },
    {
        "id": "2fa37c07.3551e4",
        "type": "ui_text",
        "z": "f0d79831.389ea8",
        "group": "2f84a4e.aef645c",
        "order": 2,
        "width": "4",
        "height": "2",
        "name": "KnifeTiltPosition_tbx",
        "label": "Knife:",
        "format": "{{msg.payload | number:5}}°",
        "layout": "row-spread",
        "x": 965.0000305175781,
        "y": 1468.1778182983398,
        "wires": []
    },
    {
        "id": "27e593af.fbbd1c",
        "type": "ui_text",
        "z": "f0d79831.389ea8",
        "group": "2f84a4e.aef645c",
        "order": 3,
        "width": "4",
        "height": "2",
        "name": "SampleRotationPosition_tbx",
        "label": "Rotation:",
        "format": "{{msg.payload | number:5}}°",
        "layout": "row-spread",
        "x": 985.0000305175781,
        "y": 1508.1778182983398,
        "wires": []
    },
    {
        "id": "7c91d2ea.31e0fc",
        "type": "comment",
        "z": "f0d79831.389ea8",
        "name": "Input from knife",
        "info": "Serial input on back of machine from knife motor",
        "x": 245.00003051757812,
        "y": 748.1778182983398,
        "wires": []
    },
    {
        "id": "6f91466a.5ac3c8",
        "type": "comment",
        "z": "f0d79831.389ea8",
        "name": "Input from rotation",
        "info": "Serial input on back of machine from rotation motor",
        "x": 355.0000305175781,
        "y": 928.1778182983398,
        "wires": []
    },
    {
        "id": "71bc20c6.07bf9",
        "type": "comment",
        "z": "f0d79831.389ea8",
        "name": "Input from tilt",
        "info": "Serial input on back of machine from tilt motor",
        "x": 335.0000305175781,
        "y": 1128.1778182983398,
        "wires": []
    },
    {
        "id": "a6211370.72d49",
        "type": "comment",
        "z": "f0d79831.389ea8",
        "name": "Output to knife",
        "info": "Serial output on back of machine to knife motor",
        "x": 1517.0001602172852,
        "y": 682.1778221130371,
        "wires": []
    },
    {
        "id": "561a9a6.f482364",
        "type": "comment",
        "z": "f0d79831.389ea8",
        "name": "Output to rotation",
        "info": "Serial output on back of machine to rotatoin motor",
        "x": 1532.0001602172852,
        "y": 1027.1778259277344,
        "wires": []
    },
    {
        "id": "8a07c853.043e78",
        "type": "comment",
        "z": "f0d79831.389ea8",
        "name": "Output to tilt",
        "info": "Serial output on back of machine to tilt motor",
        "x": 1529.0001602172852,
        "y": 1226.1778354644775,
        "wires": []
    },
    {
        "id": "8d6f9404.85f528",
        "type": "comment",
        "z": "f0d79831.389ea8",
        "name": "UI Big Chart Tab",
        "info": "",
        "x": 945.0000305175781,
        "y": 1628.1778182983398,
        "wires": []
    },
    {
        "id": "38a34c80.5d8424",
        "type": "comment",
        "z": "f0d79831.389ea8",
        "name": "UI Sample Tilt tab",
        "info": "",
        "x": 945.0000305175781,
        "y": 1428.1778182983398,
        "wires": []
    },
    {
        "id": "a81c2e3b.f93d2",
        "type": "comment",
        "z": "f0d79831.389ea8",
        "name": "UI Sample Rotation tab",
        "info": "",
        "x": 985.0000305175781,
        "y": 1108.1778182983398,
        "wires": []
    },
    {
        "id": "d4635c89.e48a1",
        "type": "comment",
        "z": "f0d79831.389ea8",
        "name": "UI Knife Tilt tab",
        "info": "",
        "x": 945.0000305175781,
        "y": 828.1778182983398,
        "wires": []
    },
    {
        "id": "f4789310.1b46c",
        "type": "comment",
        "z": "f0d79831.389ea8",
        "name": "UI Tab to reboot / shut down raspberry pi",
        "info": "",
        "x": 565.0000305175781,
        "y": 1308.1778182983398,
        "wires": []
    },
    {
        "id": "65368e8a.f56bb",
        "type": "comment",
        "z": "f0d79831.389ea8",
        "name": "Enables on startup",
        "info": "",
        "x": 329.0000686645508,
        "y": 420.7334175109863,
        "wires": []
    },
    {
        "id": "286d0373.1e3f9c",
        "type": "comment",
        "z": "f0d79831.389ea8",
        "name": "Triggers every 0.2s",
        "info": "",
        "x": 155.00003051757812,
        "y": 928.1778182983398,
        "wires": []
    },
    {
        "id": "957edbb0.b562f8",
        "type": "comment",
        "z": "f0d79831.389ea8",
        "name": "Outputs:",
        "info": "Every 0.2s alternates between sending 'POS', 'GRC',\n'TEM' commands to all 3 motors\n\nPOS > Gets actual position\nGRC > Gets real current\nTEM > Gets temperature",
        "x": 305.0000305175781,
        "y": 1028.1778182983398,
        "wires": []
    },
    {
        "id": "bfb0a005.869c3",
        "type": "comment",
        "z": "f0d79831.389ea8",
        "name": "Input to motors (ANSW1 or ANSW0 commands)",
        "info": "ANSW0 (no automatic responses)\nANSW1 (asynchronous responses)\n",
        "x": 1294.0000610351562,
        "y": 559.1778345108032,
        "wires": []
    },
    {
        "id": "aca9d30d.22d21",
        "type": "ui_switch",
        "z": "f0d79831.389ea8",
        "name": "Enable_Knife",
        "label": "Enable",
        "group": "8d202e9c.06394",
        "order": 1,
        "width": "4",
        "height": "2",
        "passthru": true,
        "decouple": "false",
        "topic": "CMDs",
        "style": "",
        "onvalue": "EN",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "DI",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 848.2447052001953,
        "y": 425.2889652252197,
        "wires": [
            [
                "46c0cf79.8eae",
                "e3c44988.22d5a8"
            ]
        ]
    },
    {
        "id": "7a7f30d3.5215c",
        "type": "ui_switch",
        "z": "f0d79831.389ea8",
        "name": "Enable_Rotation",
        "label": "Enable",
        "group": "ba966926.0802c8",
        "order": 1,
        "width": "4",
        "height": "2",
        "passthru": true,
        "decouple": "false",
        "topic": "CMDs",
        "style": "",
        "onvalue": "EN",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "DI",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 858.2447052001953,
        "y": 475.288969039917,
        "wires": [
            [
                "ba126799.454598",
                "281835a8.6831ca"
            ]
        ]
    },
    {
        "id": "33fdb3cb.22790c",
        "type": "ui_switch",
        "z": "f0d79831.389ea8",
        "name": "Enable_Tilt",
        "label": "Enable",
        "group": "3c59575.816b1a8",
        "order": 1,
        "width": "4",
        "height": "2",
        "passthru": true,
        "decouple": "false",
        "topic": "CMDs",
        "style": "",
        "onvalue": "EN",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "DI",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 855.2447052001953,
        "y": 522.2890033721924,
        "wires": [
            [
                "d39a9ba3.107e18",
                "5f588d7.bfa5674"
            ]
        ]
    },
    {
        "id": "7abf3c3e.7604f4",
        "type": "ui_button",
        "z": "f0d79831.389ea8",
        "name": "Enable All (rot)",
        "group": "ba966926.0802c8",
        "order": 2,
        "width": "4",
        "height": "2",
        "passthru": false,
        "label": "Enable ALL",
        "color": "",
        "bgcolor": "green",
        "icon": "",
        "payload": "EN",
        "payloadType": "str",
        "topic": "",
        "x": 532.8781890869141,
        "y": 386.40007305145264,
        "wires": [
            [
                "aca9d30d.22d21",
                "7a7f30d3.5215c",
                "33fdb3cb.22790c"
            ]
        ]
    },
    {
        "id": "8f75a842.b3ef08",
        "type": "ui_button",
        "z": "f0d79831.389ea8",
        "name": "Disable All (rot)",
        "group": "ba966926.0802c8",
        "order": 3,
        "width": "4",
        "height": "2",
        "passthru": false,
        "label": "Disable ALL",
        "color": "",
        "bgcolor": "#B22222",
        "icon": "",
        "payload": "DI",
        "payloadType": "str",
        "topic": "",
        "x": 530.1004486083984,
        "y": 556.5111846923828,
        "wires": [
            [
                "33fdb3cb.22790c",
                "7a7f30d3.5215c",
                "aca9d30d.22d21"
            ]
        ]
    },
    {
        "id": "2e7665b8.4a9faa",
        "type": "ui_button",
        "z": "f0d79831.389ea8",
        "name": "Enable All (knife)",
        "group": "8d202e9c.06394",
        "order": 2,
        "width": "4",
        "height": "2",
        "passthru": false,
        "label": "Enable ALL",
        "color": "",
        "bgcolor": "green",
        "icon": "",
        "payload": "EN",
        "payloadType": "str",
        "topic": "",
        "x": 532.0446548461914,
        "y": 343.0667362213135,
        "wires": [
            [
                "aca9d30d.22d21",
                "7a7f30d3.5215c",
                "33fdb3cb.22790c"
            ]
        ]
    },
    {
        "id": "26b7747.cf68f8c",
        "type": "ui_button",
        "z": "f0d79831.389ea8",
        "name": "Disable All (tilt)",
        "group": "3c59575.816b1a8",
        "order": 3,
        "width": "4",
        "height": "2",
        "passthru": false,
        "label": "Disable ALL",
        "color": "",
        "bgcolor": "#B22222",
        "icon": "",
        "payload": "DI",
        "payloadType": "str",
        "topic": "",
        "x": 516.2665939331055,
        "y": 602.1778860092163,
        "wires": [
            [
                "aca9d30d.22d21",
                "7a7f30d3.5215c",
                "33fdb3cb.22790c"
            ]
        ]
    },
    {
        "id": "4a4834cd.60182c",
        "type": "ui_button",
        "z": "f0d79831.389ea8",
        "name": "Disable All (knife)",
        "group": "8d202e9c.06394",
        "order": 3,
        "width": "4",
        "height": "2",
        "passthru": false,
        "label": "Disable ALL",
        "color": "",
        "bgcolor": "#B22222",
        "icon": "",
        "payload": "DI",
        "payloadType": "str",
        "topic": "",
        "x": 523.2665939331055,
        "y": 645.1778879165649,
        "wires": [
            [
                "aca9d30d.22d21",
                "7a7f30d3.5215c",
                "33fdb3cb.22790c"
            ]
        ]
    },
    {
        "id": "ee5a194d.04a368",
        "type": "ui_button",
        "z": "f0d79831.389ea8",
        "name": "Enable All (tilt)",
        "group": "3c59575.816b1a8",
        "order": 2,
        "width": "4",
        "height": "2",
        "passthru": false,
        "label": "Enable ALL",
        "color": "",
        "bgcolor": "green",
        "icon": "",
        "payload": "EN",
        "payloadType": "str",
        "topic": "",
        "x": 526.0443954467773,
        "y": 300.06670570373535,
        "wires": [
            [
                "aca9d30d.22d21",
                "7a7f30d3.5215c",
                "33fdb3cb.22790c"
            ]
        ]
    },
    {
        "id": "ccc49ed1.e0fe2",
        "type": "comment",
        "z": "f0d79831.389ea8",
        "name": "Enable Buttons For Each Axis",
        "info": "",
        "x": 897.9444046020508,
        "y": 379.88892936706543,
        "wires": []
    },
    {
        "id": "48c1a2d5.75a6bc",
        "type": "comment",
        "z": "f0d79831.389ea8",
        "name": "Enable All Buttons",
        "info": "",
        "x": 533.2777519226074,
        "y": 261.66669750213623,
        "wires": []
    },
    {
        "id": "bb7a5a7f.42ce78",
        "type": "comment",
        "z": "f0d79831.389ea8",
        "name": "Disable All Buttons",
        "info": "",
        "x": 542.4999504089355,
        "y": 517.7778034210205,
        "wires": []
    },
    {
        "id": "fc44cc20.0255b",
        "type": "comment",
        "z": "f0d79831.389ea8",
        "name": "Debug, commands to knife motor",
        "info": "Records commands to change position\n& enable/disable\n",
        "x": 995.0000305175781,
        "y": 708.1778182983398,
        "wires": []
    },
    {
        "id": "d9e5f53d.dc9bf8",
        "type": "comment",
        "z": "f0d79831.389ea8",
        "name": "Debug, commands to rotation motor",
        "info": "Records commands to change position\n& enable/disable\n",
        "x": 1025.0000305175781,
        "y": 988.1778182983398,
        "wires": []
    },
    {
        "id": "dd9629f0.906e38",
        "type": "comment",
        "z": "f0d79831.389ea8",
        "name": "Debug, commands to tilt motor",
        "info": "Records commands to change position\n& enable/disable\n",
        "x": 985.0000305175781,
        "y": 1288.1778182983398,
        "wires": []
    },
    {
        "id": "e1d5d082.fdb79",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyUSB2",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\r",
        "bin": "false",
        "out": "char",
        "addchar": true
    },
    {
        "id": "f6fac7f9.87bc38",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\r",
        "bin": "false",
        "out": "char",
        "addchar": true
    },
    {
        "id": "bffbf8bc.c34398",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyUSB1",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\r",
        "bin": "false",
        "out": "char",
        "addchar": true
    },
    {
        "id": "42e45a18.879f94",
        "type": "ui_group",
        "z": "",
        "name": "Big Chart",
        "tab": "dc478442.d46958",
        "disp": true,
        "width": "12"
    },
    {
        "id": "dc478442.d46958",
        "type": "ui_tab",
        "z": "",
        "name": "Big Chart",
        "icon": "dashboard",
        "order": 6
    }
]